<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" class="__meteor-css__" href="stylesheets/bootcamp/welcome.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootcamp/weather.css">
    <script type="text/javascript" src="../bootcamp/javascripts/welcome.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
         integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
         crossorigin="anonymous"></script>
    <title>Bootcamp 2017 - M-Soma Institute</title>
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
    <meta property="twitter:title" content="M-Soma 2017 Bootcamp">
    <meta property="twitter:url" content="http://www.msoma.org/">
    <meta property="og:url" content="http://www.msoma.org/">
    <meta name="description" content=".">
    <meta property="twitter:description" content=".">
    <meta property="og:title" content="M-Soma 2017 Bootcamp">
    <meta property="og:image" content="../images/welcome-thumbnail.png">
    <meta property="og:description" content="">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300" rel="stylesheet" type="text/css" />

    <script src="http://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
</head>

<body>
    <div class="longread">
        <div id="slide01" class="block red active weather rain">
                    <div class="container" style="float: center">
                        <h1>M-Soma 2017 Bootcamp</h1>
                        <h3 style="text-transform: none;">May 29th - June 23rd • <span style="font-style: italic;">Kilimani, Nairobi</span></h3>
                        <a class="h3 btn pointer" href="" target="_blank" style="font-size: 14px;">Download Curricullum</a></div>
                    <div class="btm_hint">
                        <div class="arrow" style="-webkit-animation: bounce 0.5s alternate infinite;"></div>
                        Scroll to Learn More</div>

        </div>
        <div id="slide02" class="block red active">
            <div class="container">
                <h2>About the M-Soma Bootcamp</h2>
                <div class="inner">
                    <div class="box">
                    	<span id="highlight-text"><a href="index.html#slide02">Flipped Classroom</a></span>
                        <p>The bootcamp is an intensive and immersive four-week program designed to prepare beginners who have never done any programming to kick start a career in computer science. We apply a "flipped classroom" model where there are no lectures - just workshops and labs. You access workshop material before the day of instruction and work on projects during sessions.</p>

                        <span id="highlight-text"><a href="index.html#slide05">Daily Schedule</a></span>
                        <p>There is one workshop in the morning, and two labs in the afternoon from Monday to Friday. Workshops are two hours long, with a break in between. On some days, there will be special guests we invite to inspire you with their work. Each labs is one and a half hour long. During labs, you work on individual projects with the help of our instructors and your peers.</p>
                    </div>
                    <div class="box">
                    	<span id="highlight-text"><a href="index.html#slide04">Courses </a></span>
                        <p>Our courses are designed to give you the confidence and skills you need to be a great programmer. We cover courses ranging from Intro to Programming (taught in Python) to Web Development and Design Thinking. We also incorporate an ethics course to challenge you to think consciously about the social implications of using and developing technology.</p>
                        <span id="highlight-text"><a href="index.html#slide06">What Happens Next?</a></span>
                        <p>Once you're admitted into the bootcamp, you become an M-Soma fellow forever. Scholars who wish to apply to colleges outside Kenya would get mentorship and advice on the application process from our committed community of mentors. Those who wish to venture into different paths will also be matched with mentors with similar interests.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="slide03" class="block black active">
            <div class="video_layer">
                <div class="exit pointer"></div>
                <div id="player"></div>
            </div>
            <div class="bg"></div>
            <div class="container">
                <h2 class="pointer play">Highlights and Updates</h2></div>
        </div>
        <div id="slide04" class="block black active">
            <div class="container">
                <h2>Courses</h2>
                <div class="inner">
                    <div class="box">
                        <h3>Intro<br>to<br>Programming</h3>
                    </div>
                    <div class="box">
                        <h3>Web Development</h3>
                    </div>
                    <div class="box">
                        <h3>Design Thinking</h3>
                        
                    </div>
                </div>
                <div class="inner">
                    <div class="box2">
                        <p>There will be four main courses covered during the bootcamp. We put emphasis on preparing you to be an independent learner who can apply computer science concepts to solve problems in our day to day life. Our programming course is not meant to teach any programming language, but rather to prepare you to be a great programmer who can easily pick up any programming language thereafter</p>
                    </div>
                    <div class="box2">
                        <p>The design thinking course is designed to equip you with the skills you will need as an entrepreneur and in absolutely any other field. It's a way of solving problems that is human-centered. More details on design thinking on the course page linked above.<br>The web development course will enable you to build your portfolio and showcase your projects by the end of the four weeks</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="slide05" class="block red active">
            <div class="container">
                <h2>Daily Schedule</h2>
                <div class="period_image" style="background-image:url('../images/bootcamp/enter-10_2-02.png')"></div>
                <h3>Morning Workshop</h3>
                <div class="hint">Mon - Fri / 9:30am - 12:00pm</div>
                <div class="text">
                    <p>Going through workshop content released a day earlier</p>
                    <p>Activities in session to apply what is learned from the workshop videos and notes</p>
                    <p>Sometimes there will be presentations after group projects are due</p>
                </div>
                <div class="vertical_line"></div>
                <div class="period_image" style="background-image:url('../images/bootcamp/enter-8_edited-05.png')"></div>
                <h3>Afternoon Lab</h3>
                <div class="hint">Mon - Fri / 1:00pm - 3:00pm</div>
                <div class="text">
                    <p>Working on light-weight individual projects designed</p>
                    <p>Problems are fairly gentle and can be completed in less than the time allotted</p>
                    <p>Instructors go around helping you when you're stuck. When you finish your work early, you also help your peers</p>
                </div>
                <div class="vertical_line"></div>
                <div class="period_image" style="background-image:url('../images/bootcamp/enter-10_2-06.png')"></div>
                <h3>Evening Lab</h3>
                <div class="hint">Mon - Fri / 3:30pm - 5:30pm</div>
                <div class="text">
                    <p>Fun group activities</p>
                    <p>Leadership development sessions</p>
                    <p>Group presentations</p>
                </div>
                <div class="vertical_line"></div>
            </div>
        </div>
        <div id="slide06" class="block white active">
            <div class="bg"></div>
            <div class="container">
                <h2>What Next?</h2>
                <div class="inner">
                    <div class="box">
                        <div class="text">
                            <p>After the bootcamp, we will continue to support you in your journey to becoming a skilled software developer, or any path you choose to take</p>
                            <p><span id="highlight-text-career"><a href="" target="_blank">Want to Join College?</a></span><br>We will guide you through the application process and assist you in preparing for your university entry examinations if applicable. We will also try as much as possible to match you with a mentor who is studying in the university you're applying to.</p>
                        </div>
                    </div>
                    <div class="box list">
                        <div class="text">
                            <p><span id="highlight-text-career"><a href="">Working on your own Projects?</a></span><br>M-Soma aims to create technology leaders who would create jobs in their sectors. If that's your goal at any point in your life - not just immediately after the bootcamp - we will provide you with mentorship and the support you need to get started. We will help you draft a plan for your business, and connect you with the people and organizations that might help you along the way.</p>
                        </div>
                    </div>

                    <div class="box list">
                        <div class="text">
                            <p><span id="highlight-text-career"><a href="">Any Others</a></span><br>The wonderful thing about our bootcamp is that we will get to know you individually, and hopefully help you discover your passion and the direction you want to take in your life. Whatever you choose to do, we will be with you. You're a part of our community and your success will be our joy.</p>
                        </div>
                    </div>

                    <div class="box list">
                        <div class="text">
                            <p><span id="highlight-text-career"><a href="">Coming back as a Mentor</a></span><br>It's our hope that by appreciating the value of the mentors we will pair you with in your life, you will develop the desire, and passion to also contribute to someone's else life. In the subsequent annual bootcamp, we encourage you all to come back as mentors and contribute to the community you will be a part of.</p>
                        </div>
                    </div>
                </div>
                <a class="btn pointer" href="" target="_blank">sign up for mentorship</a></div>
        </div>
        <div id="slide08" class="block grey active">
            <div class="container">
                <h2>Application Deadline</h2>
                <div class="text">
                    <p>There are only a few days remaining before applications close. Don't wait until it's too late. If there is also a friend you think might benefit from this, share with them before the deadline.</p>
                </div>
                <div class="box">
                    <h2 class="summ"></h2>
                    <div id="clockdiv">
                      <div>
                        <span class="days"></span>
                        <div class="smalltext">Days</div>
                      </div>
                      <div>
                        <span class="hours"></span>
                        <div class="smalltext">Hours</div>
                      </div>
                      <div>
                        <span class="minutes"></span>
                        <div class="smalltext">Minutes</div>
                      </div>
                      <div>
                        <span class="seconds"></span>
                        <div class="smalltext">Seconds</div>
                      </div>
                    </div>
                    <div class="hint">Remaining</div>
                </div>
            </div>
        </div>
        <div id="slide09" class="block red active" style="background-color: #00356b;">
            <div class="container">
                <h2>Other Programs<br><hr id="horizontal-line-medium"></h2>
                <div class="inner">
                    <div class="box">
                        <h3 style="text-transform: none; font-weight: 600;">High School Clubs</h3>
                        <div class="text">We support computer science clubs in high schools all over the country. We do so by providing them with resources to introduce them to computer programming and software management. Participating schools can compete in inter-schools min-hackathons where club members get together to build applications that address problems they identify in their communities. Best entries from individuals and schools are eligible to awards</div>
                    </div>
                    <div class="box">
                        <h3 style="text-transform: none;font-weight: 600;">Mentorship</h3>
                        <div class="text">Our community of mentors is there to support you as you begin to learn what it takes to pursue a career in tech. You will meet some of your mentors who will be in Kenya in June at the end of the bootcamp.</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="slide10" class="block red active" style="background-color: #222;">
            <div class="container">
                <div class="inner">
                    <div class="box">
                        <h2 style="font-size: 20px !important; color: #63aaff;">Who and what we are looking for<br><hr id="horizontal-line-small"></h2><br>
                        <p>High School graduate who is yet to join college</p>
                        <p>Highly motivated individual</p>
                        <p>Resilience
                        </p>
                        <p>Desire to learn to code. No prior knowledge is required.</p>
                    </div>
                    <div class="box">
                        <h2 style="font-size: 20px !important;color: #63aaff;">Registration and Scholarship<br><hr id="horizontal-line-small"></h2><br>
                        <p>The tuition costs for the whole bootcamp is Ksh. 10,000.</p>
                        <p>Scholars with demonstrated need are eligible for a partial scholarship. They will only pay Ksh. 5,000.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="slide12" class="block banner active">
            <div class="container">
                <!-- <a class="logo"></a> -->
                <h1>Apply Now</h1>
                <a class="h3 btn pointer" href="" target="_blank">Start</a></div>
            <div class="btm_hint"><a href="mailto:admissions.msoma@gmail.com">have questions? ask here</a></div>
        </div>
    </div>
</body>

</html>
