<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:website="http://ogp.me/ns/website" lang="en-US" itemscope itemtype="http://schema.org/WebPage" class="touch-styles">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="">
    <meta charset="utf-8" />
    <title>Online Learning — M-Soma Institute</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
    <link rel="canonical" href="https://msoma.org/about/" />
    <meta property="og:site_name" content="M-Soma Institute" />
    <meta property="og:title" content="About - M-Soma Institute" />
    <meta property="og:url" content="http://msoma.org/about/" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="M-Soma is a computer skills training program for Kenyan youth from under-resourced communities and schools. We aim to increase the number of skilled software engineers/developers in East Africa, and enable other career professionals to actively apply technology in their work." />
    <meta property="og:image" content="images/221.jpg" />
    <meta itemprop="name" content="What We Do" />
    <meta itemprop="url" content="https://msoma.org/about/" />
    <meta itemprop="description" content="M-Soma is a computer skills training program for Kenyan youth from under-resourced communities and schools. We aim to increase the number of skilled software engineers/developers in East Africa, and enable other career professionals to actively apply technology in their work." />
    <meta itemprop="thumbnailUrl" content="images/221.jpg" />
    <link rel="image_src" href="images/221.jpg" />
    <meta itemprop="image" content="images/221.jpg" />
    <meta name="twitter:title" content="M-Soma is a computer skills training program for Kenyan youth from under-resourced communities and schools. We aim to increase the number of skilled software engineers/developers in East Africa, and enable other career professionals to actively apply technology in their work." />
    <meta name="twitter:image" content="images/221.jpg" />
    <meta name="twitter:url" content="https://msoma.org/about/" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="M-Soma is a computer skills training program for Kenyan youth from under-resourced communities and schools. We aim to increase the number of skilled software engineers/developers in East Africa, and enable other career professionals to actively apply technology in their work." />
    <meta name="description" content="M-Soma is a computer skills training program for Kenyan youth from under-resourced communities and schools. We aim to increase the number of skilled software engineers/developers in East Africa, and enable other career professionals to actively apply technology in their work." />

    <link rel="stylesheet" href="stylesheets/main.css" />
    <link rel="stylesheet" href="stylesheets/input.css" />
    <link rel="stylesheet" href="stylesheets/page.css" />
    <link rel="stylesheet" href="stylesheets/comments.css" />
    <link rel="stylesheet" href="stylesheets/autocomplete.css" />
</head>

<body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-15 node-type-landing-page">
    <div id="main_column">
        <header class="global-header" data-component="header">
            <div class="global-header__inner">
                <h1 class="logo">
        <a href="/">
          <span class="logo__span">M-Soma Institute</span>
          <img class="logo__image" src="images/logo/logo.png" alt="M-Soma Institute" aria-hidden="true">
        </a>
      </h1>
            </div>
            <nav class="main-nav" role="navigation">
                <ul role="menu" class="main-nav__list">
                    <li role="menu-item" class="main-nav__item menu-item"><a href="/cs101" title="" class="main-nav__link">Programming</a></li>
                    <li role="menu-item" class="main-nav__item menu-item"><a href="/web" title="" class="main-nav__link">Web Design</a></li>
                    <li role="menu-item" class="main-nav__item menu-item"><a href="/designthinking" title="" class="main-nav__link">Design Thinking</a></li>
                    <li role="menu-item" class="main-nav__item menu-item"><a href="/ethics" title="" class="main-nav__link">Ethics</a></li>
                    <li role="menu-item" class="main-nav__item menu-item"><a href="/signout" title="" class="main-nav__link">SignOut</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main id="main" role="main" style="background-color: #fff;">
            <div class="tabs">
            </div>
            <div id="block-system-main" class="block block-system">
                <header>
                </header>
                <style>
                /* 400x300 for non-highdpi small screen devices */
                
                .hero__item {
                    background-image: url('images/about/hero-18.jpeg');
                }
                /* 800x600 for medium screen devices AND all highdpi screens */
                
                @media (min-width: 600px),
                (-webkit-min-device-pixel-ratio: 2.0),
                (min-resolution: 2.0dppx) {
                    .hero__item {
                        background-image: url('images/about/hero-18.jpeg');
                    }
                }
                /* 1200x600 for large screen devices */
                
                @media (min-width: 800px) {
                    .hero__item {
                        background-image: url('images/about/hero-18.jpeg');
                    }
                }
                </style>
                <section class="hero -descriptive">
                    <div class="hero__item">
                        <div class="hero__content">
                            <h1 class="heading -section -inverse">Week 1: Front-End</h1>
                            <blockquote>
                                <p>This week you'll learn how to build beautiful and responsive websites. You will also learn to use tools like Github, Git, and the Command Line.</p>
                                <footer>
                                    <cite>Languages:  HTML, CSS, JavaScript</cite>
                                </footer>
                            </blockquote>
                            <p><a class="button -loud -inverse" href="">Watch Video</a></p>
                            <ul class="horizontal-list">
                                <li><a href="http://www.msoma.org/curriculum">View Curriculum</a></li>
                                <li><a href="https://www.msoma.org/bootcamp">Bootcamp Schedule</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <div class="content">
                    <div class="container -center pad-vertical--lg">
                        <section class="card-grid">
                            <article class="card">
                                <figure>
                                    <img typeof="foaf:Image" src="images/web.jpg" width="480" height="240" alt="Web Development" title="Web Development" /> </figure>
                                <div class="card__content">
                                    <h1 class="card__title">
                                        Web Development
                                    </h1>
                                    <p class="card__description">
                                        <div class="field field-name-field-description field-type-text-long field-label-hidden">
                                            <p>This course prepares you to build responsive and interactive websites without any prior knowledge. The first part of this course focuses on building Static websites using only HTML, CSS and JavaScript. The second part focuses on building Dynamic websites using Ruby on Rails on the back-end. You will be able to implement login/sign-up functionalities for your website and do more cool stuff.</p>
                                        </div>
                                    </p>
                                    <a href="/web" class="button">Start Course</a>
                                </div>
                            </article>
                            <article class="card">
                                <figure>
                                    <img typeof="foaf:Image" src="images/cs101.jpg" width="480" height="240" alt="Intro to Programming" title="Intro to Programming" /> </figure>
                                <div class="card__content">
                                    <h1 class="card__title">
                                        Intro to Programming
                                    </h1>
                                    <p class="card__description">
                                        <div class="field field-name-field-description field-type-text-long field-label-hidden">
                                            <p>This course introduces you to the fundamentals of programming. Our main goal is not to teach you a particular programming language, but rather to teach you programming as an art. We will start by introducing you to the tools you will need as a programmer, and then dive into software. After this course, you should be able to pick up any programming language fairly quickly.</p>
                                        </div>
                                    </p>
                                    <a href="/cs101" class="button">Start Course</a>
                                </div>
                            </article>
                            <article class="card">
                                <figure>
                                    <img typeof="foaf:Image" src="images/cs101.jpg" width="480" height="240" alt="Intro to Programming" title="Intro to Programming" /> </figure>
                                <div class="card__content">
                                    <h1 class="card__title">
                                        Design Thinking
                                    </h1>
                                    <p class="card__description">
                                        <div class="field field-name-field-description field-type-text-long field-label-hidden">
                                            <p>This course introduces you to the mindset, skillset, and toolset associated with "human-centered design". If you ever dreamed of starting your own company, this is the place to start! From identifying problems, revealing new insights, and presenting possible solutions through sketching and prototypes, you will gain first-hand experience in this course.</p>
                                        </div>
                                    </p>
                                    <a href="/cs101" class="button">Start Course</a>
                                </div>
                            </article>
                            <article class="card">
                                <figure>
                                    <img typeof="foaf:Image" src="images/cs101.jpg" width="480" height="240" alt="Intro to Programming" title="Intro to Programming" /> </figure>
                                <div class="card__content">
                                    <h1 class="card__title">
                                        Social Implications of Computing
                                    </h1>
                                    <p class="card__description">
                                        <div class="field field-name-field-description field-type-text-long field-label-hidden">
                                            <p>This is a discussion intensive course about the social implications of computing. The purpose of this course is to help you as a creator of technology to make informed and socially conscious decisions in your work. Each week there will be a discussion on technology topics of your choice, and a brief reading on the topics will be released before the workshops.</p>
                                        </div>
                                    </p>
                                    <a href="/cs101" class="button">Start Course</a>
                                </div>
                            </article>
                        </section>
                    </div>
                    <div class="block container -narrow -center pad-vertical--md">
                        <h3 class="heading -uppercase">Other Resources</h3></div>
                    <div class="container -padded pad-bottom--lg">
                        <ul class="boxed-list">
                            <li><a href="https://www.msoma.org/book/gettingstarted"><span>Programming Handbook</span></a></li>
                            <li><a href="/resources/install"><span>Installing Python</span></a></li>
                            <li><a href="/resources/github"><span>Creating a Github Account</span></a></li>
                            <li><a href="/resources/git"><span>Installing and Using Git</span></a></li>
                            <li><a href="/resources/terminal"><span>Using the Command Line</span></a></li>
                            <li><a href="http://stackoverflow.com"><span>Stack Overflow</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <footer class="global-footer">
            <div id="block-menu-menu-legal" class="block block-menu">
                <ul role="menu" class="footer-nav -legal">
                    <li role="menu-item"><a href="/home" title="">Home</a></li>
                    <li role="menu-item"><a href="/about" title="">About</a></li>
                    <li role="menu-item"><a href="/mentorship" title="">Mentors</a></li>
                </ul>
            </div>
            <div id="block-views-footer-quotes-block" class="block block-views">
                <header>
                </header>
                <div class="view view-footer-quotes view-id-footer_quotes view-display-id-block view-dom-id-6cec8c113ee790a622211250feb76043">
                    <div class="view-content">
                        <div>
                            <blockquote class="footer-quote">
                                <p>© 2017 M-Soma Institute. All Rights Reserved</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="http://home.www.upenn.edu/sites/all/libraries/modernizr/modernizr.custom.min.js?oqkbwz"></script>
        <script src="http://home.www.upenn.edu/sites/default/files/js/js_gPM6NXOQjN2XM2JWQGfy07nKmcdDFrL289YA7h80ySs.js"></script>
        <script src="http://home.www.upenn.edu/sites/default/files/js/js_F2V-uqfZb9dXdVa-8QMCC-TPhP2njCxF33mf8Smh7nI.js"></script>
        <script src="http://home.www.upenn.edu/sites/default/files/js/js_gPqjYq7fqdMzw8-29XWQIVoDSWTmZCGy9OqaHppNxuQ.js"></script>
        <script src="http://home.www.upenn.edu/sites/default/files/js/js_cVed5ye_uNsO8WMYOq8SDgXNnyvnHHpf9K7FVvQlyl0.js"></script>
        <script src="http://home.www.upenn.edu/sites/default/files/js/js_Qexx7K-J4XzZKSQjxlYQSZwZWC6sMDsDV_2zalISOIo.js"></script>
</body>

</html>
