<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Web Design - M-Soma Institute</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
    <link rel="canonical" href="https://msoma.org/about/" />
    <meta property="og:site_name" content="M-Soma Institute" />
    <meta property="og:title" content="About - M-Soma Institute" />
    <meta property="og:url" content="http://msoma.org/about/" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="M-Soma is a computer skills training program for Kenyan youth from under-resourced communities and schools. We aim to increase the number of skilled software engineers/developers in East Africa, and enable other career professionals to actively apply technology in their work." />
    <meta property="og:image" content="images/221.jpg" />
    <meta itemprop="name" content="What We Do" />
    <meta itemprop="url" content="https://msoma.org/about/" />
    <meta itemprop="description" content="M-Soma is a computer skills training program for Kenyan youth from under-resourced communities and schools. We aim to increase the number of skilled software engineers/developers in East Africa, and enable other career professionals to actively apply technology in their work." />
    <meta itemprop="thumbnailUrl" content="images/221.jpg" />
    <link rel="image_src" href="images/221.jpg" />
    <meta itemprop="image" content="images/221.jpg" />
    <meta name="twitter:title" content="M-Soma is a computer skills training program for Kenyan youth from under-resourced communities and schools. We aim to increase the number of skilled software engineers/developers in East Africa, and enable other career professionals to actively apply technology in their work." />
    <meta name="twitter:image" content="images/221.jpg" />
    <meta name="twitter:url" content="https://msoma.org/about/" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="M-Soma is a computer skills training program for Kenyan youth from under-resourced communities and schools. We aim to increase the number of skilled software engineers/developers in East Africa, and enable other career professionals to actively apply technology in their work." />
    <meta name="description" content="M-Soma is a computer skills training program for Kenyan youth from under-resourced communities and schools. We aim to increase the number of skilled software engineers/developers in East Africa, and enable other career professionals to actively apply technology in their work." />
    <link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/css/main.css">
    <script src="javascripts/js/jquery.min.js"></script>
    <script src="javascripts/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/home">2017 Bootcamp</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-active">
                            <a href="/web">Home</a>
                        </li>
                        <li class="">
                            <a href="/resources">Resources</a>
                        </li>
                        <li class="">
                            <a href="/web/workshops">Workshops</a>
                        </li>
                        <li class="">
                            <a href="/web/projects">Projects</a>
                        </li>
                        <li class="">
                            <a href="/web/homework">Homework</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1>Web Design: M-Soma Bootcamp</h1>
            <section>
                <h3 class="left-border">Course Description</h3>
                <p>The demand for learning web programming is at an all time high, but for most people the process at times seems intimidating and difficult. This course will simplify everything and give you the confidence to design and develop websites in less than two hours. Nothing beats an in-person class with passionate mentors and instructors and stimulating handson projects.
                    <br> The first portion of this course will teach you how to build websites using HTML 5, CSS 3, and JavaScript. You will also identify, compare, and critic design practices in popular websites. Every detail from programming projects and workshop material is carefully chosen to provide the best possible learning experience for you.
                    <br>
                    <br> The second portion of this course introduces you to building the back-end to make your website <span style="font-style: italic; font-weight: bold;">dynamic</span> using the Ruby on Rails framework. You will learn to implement functionalities like logging in and sign up for your website users, creating mailers to your website users, and hiding some things from users who are signed up.</p>
            </section>
            <section>
                <!-- 604800 seconds is one week, 86400 is one day -->
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="left-border">Week 1 Schedule</h3>
                        <div>
                            <h4>HTML 5, and CSS 3 Basics</h4>
                            <h6 class="text-muted">Monday, June 5, 2017</h6>
                        </div>
                        <div>
                            <h4>Introduction to JavaScript</h4>
                            <h6 class="text-muted">Tuesday, June 6, 2017</h6>
                        </div>
                        <div>
                            <h4>Web Inspectors and the DOM</h4>
                            <h6 class="text-muted">Wednesday, June 7, 2017</h6>
                        </div>
                        <div>
                            <h4>Responsive Web Design + Paper Prototyping</h4>
                            <h6 class="text-muted">Thursday, June 8, 2017</h6>
                        </div>
                        <div>
                            <h4>Recap of First Week. First<a href="/web/projects"> Project</a> Released</h4>
                            <h6 class="text-muted">Friday, June 9, 2017</h6>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="left-border">Week 2 Schedule</h3>
                        <div>
                            <h4>Introduction to Back-End Programming</h4>
                            <h6 class="text-muted">Monday, June 5, 2017</h6>
                        </div>
                        <div>
                            <h4>Model + View + Controller</h4>
                            <h6 class="text-muted">Tuesday, June 6, 2017</h6>
                        </div>
                        <div>
                            <h4>Sign Up and Login</h4>
                            <h6 class="text-muted">Wednesday, June 7, 2017</h6>
                        </div>
                        <div>
                            <h4>Designing Models</h4>
                            <h6 class="text-muted">Thursday, June 8, 2017</h6>
                        </div>
                        <div>
                            <h4>Recap of Second Week. Second<a href="/web/projects"> Project</a> Released</h4>
                            <h6 class="text-muted">Friday, June 9, 2017</h6>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <div class="container text-center">
            <small class="text-muted">
      Home &nbsp; &nbsp; | &nbsp; &nbsp; About &nbsp; &nbsp; | &nbsp; &nbsp; Mentors
      <br>
      © 2017 M-Soma Institute
    </small>
        </div>
    </footer>
</body>

</html>
