<!doctype html>

<html class="no-js " lang="en">
<head>

<meta charset="utf-8">

<title>CS 101 - M Soma Bootcamp</title>

    <meta name="description" property="og:description" content="" />
    <meta name="twitter:description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
    

    <link rel="stylesheet" href="../stylesheets/courses/book.css">
    <script src="../javascripts/courses/modernizr.min.js"></script>
    <script src="../javascripts/courses/3VSpI8QH.js"></script>
</head>

<body>

        
    

    <header class="main">
        <nav class="topper">
            <div class="container-fluid">
                <div class="row">

<div class="topper-search">

    <div class="dropdown" id="information-for-menu">
        <a href="http://pythontutor.com/visualize.html#mode=edit" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" data-hover="dropdown" data-delay="200" data-close-others="true">
             Online Tutor
        </a>
    </div>

    <form id="header-search-expand" action="">
        <label class="search-field-label" for="query">Search <span class="icon svg-icon"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path d="M14 12.5L10.4 9c.6-.9 1-2 1-3.2C11.4 2.6 8.9 0 5.7 0 2.6 0 0 2.6 0 5.7s2.6 5.7 5.7 5.7c1.2 0 2.4-.4 3.3-1.1l3.6 3.6 1.4-1.4zm-8.3-3C3.7 9.5 2 7.8 2 5.7S3.7 2 5.7 2s3.7 1.7 3.7 3.7-1.6 3.8-3.7 3.8z" /></svg></span></label>
        <div class="search-field-container">
            <div class="form-group">
                <input type="text" class="search-field" id="searchQuery" name="searchQuery" placeholder="Search" title="Search Query">
                <input type="image" src="https://ysmwebsites.azureedge.net/static/images/subnav_arrow_white.svg?v=232" alt="Search" class="btn search-field-submit" title="Search">
            </div>
        </div>
    </form>
    
</div>
                    
                    <div class="topper-breadcrumb">
                                        <a href="http://www.msoma.org">M-Soma Institute</a>



                    </div>
                </div>
            </div>
        </nav>



<nav class="page-header">
    <div class="container-fluid">

                <h1 class="title-section">
                    <a href="" class="vertical-align">
                        Programming Handbook
                    </a>
                </h1>
        </div>
    </nav>


        

<nav class="nav-primary" id="nav-primary-menu-container">
    <ul class="container-fluid nav-primary-menu Grid" id="nav-primary-spastic">
                    <li class="dropdown Grid-cell">
                        <a href="" class="btn btn-nav" type="button" id="nav-Who-We-Are">
                            Getting Started
                        <span class="caret"></span>
                    </a>
                            <div class="dropdown-menu" aria-labelledby="nav-Who-We-Are" id="dropdown-nav-Who-We-Are">
                                <ul>
                                            <li><a href="">What is Programming?</a></li>
                                </ul>
                                <ul>
                                            <li><a href="">Installing Python</a></li>
                                </ul>
                                <ul>
                                            <li><a href="">Introduction to Terminal</a></li>
                                </ul>
                                <ul>
                                            <li><a href="">Using Git</a></li>
                                </ul>
                            </div>
                </li>
                        <li class="dropdown Grid-cell"><a href="" class="btn btn-nav" type="button" id="nav-What-We-Do">Python Basics <span class="caret"></span></a><div class="dropdown-menu" aria-labelledby="nav-Who-We-Are" id="dropdown-nav-Who-We-Are">
                                <ul>
                                            <li><a href="">Using Python</a></li>
                                </ul>
                                <ul>
                                            <li><a href="">Data Types</a></li>
                                </ul>
                                <ul>
                                            <li><a href="">Elements of Computer Programs</a></li>
                                </ul>
                                <ul>
                                            <li><a href="">Defining Functions</a></li>
                                </ul>
                            </div></li>
                    <li class="dropdown Grid-cell">
                        <a href="" class="btn btn-nav" type="button" id="nav-Publications">
                            Control and Sequences
                        <span class="caret"></span>
                    </a>
                            <div class="dropdown-menu" aria-labelledby="nav-Publications" id="dropdown-nav-Publications">
                                <ul>
                                            <li><a href="">Statements</a></li>
                                            <li><a href="">Local Assignment</a></li>
                                            <li><a href="">Conditional Statements</a></li>
                                            <li><a href="">Iteration</a></li>
                                            <li><a href="">Booleans</a></li>
                                            <li><a href="">Branching</a></li>
                                            <li><a href="">Introduction to Lists</a></li>

                                </ul>
                            </div>
                </li>
                <li class="dropdown Grid-cell">
                        <a href="" class="btn btn-nav" type="button" id="nav-Digital--Social-Media">
                            OOP
                        <span class="caret"></span>
                    </a>
                            <div class="dropdown-menu" aria-labelledby="nav-Digital--Social-Media" id="dropdown-nav-Digital--Social-Media">
                                <ul>
                                            <li><a href="">What is Object Oriented Programming?</a></li>
                                            <li><a href="">Representing Objects</a></li>
                                            <li><a href="">Inheritance</a></li>
                                </ul>
                            </div>
                </li>
                <li class="dropdown Grid-cell">
                        <a href="" class="btn btn-nav" type="button" id="nav-Web-Services">
                            Data Structures
                        <span class="caret"></span>
                    </a>
                            <div class="dropdown-menu" aria-labelledby="nav-Web-Services" id="dropdown-nav-Web-Services">
                                <ul>
                                            <li><a href="">Arrays</a></li>
                                            <li><a href="">Linked Lists</a></li>
                                            <li><a href="">Stacks</a></li>
                                            <li><a href="">Queues</a></li>
                                            <li><a href="">Hash Tables</a></li>
                                            <li><a href="">Trees and Graphs</a></li>
                                            <li><a href="">Number Representation</a></li>
                                </ul>
                            </div>
                </li>
                    <li class="dropdown Grid-cell">
                        <a href="" class="btn btn-nav" type="button" id="nav-Web-Services">
                            Algorithms
                        <span class="caret"></span>
                    </a>
                            <div class="dropdown-menu" aria-labelledby="nav-Web-Services" id="dropdown-nav-Web-Services">
                                <ul>
                                            <li><a href="">Algorithmic Thinking</a></li>
                                            <li><a href="">Search Algorithms</a></li>
                                            <li><a href="">Sorting Algorithms</a></li>
                                            <li><a href="">Recursion</a></li>
                                            <li><a href="">Complexity</a></li>
                                            <li><a href="">Binary Search</a></li>
                                </ul>
                            </div>
                </li>
                <li class="dropdown Grid-cell">
                        <a href="" class="btn btn-nav" type="button" id="nav-Web-Services">
                            Bonus Topics
                        <span class="caret"></span>
                    </a>
                            <div class="dropdown-menu" aria-labelledby="nav-Web-Services" id="dropdown-nav-Web-Services">
                                <ul>
                                            <li><a href="">Text and Data Compression</a></li>
                                            <li><a href="">Image and Sound Representation</a></li>
                                            <li><a href="">Artificial Intelligence</a></li>
                                            <li><a href="">Machine Learning</a></li>
                                            <li><a href="">Data Science</a></li>
                                </ul>
                            </div>
                </li>
                    
    </ul>
</nav>



        


<!--Mobile nav-->
<nav class="mobile-nav-primary" id="mobile-nav-primary-menu-container">
    <a href="" class="mobile-nav-toggle nav-item-parent">
        <div id="nav-icon3">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </a>
    <ul class="nav mobile-nav-primary-menu ">
                        <li>
                    <a href="" class="nav-item-parent">Getting Started <span class="indicator"></span></a>
                    <ul class="nav">
                                        <li><a href="" >What is Programming?</a></li>
                                        <li><a href="" >Installing Python</a></li>
                                        <li><a href="" >Introduction to Terminal</a></li>
                                        <li><a href="" >Using Git</a></li>

                    </ul>
                </li>
                <li><a href="" class="nav-item-parent">Python Basics<span class="indicator"></span></a>
                    <ul class="nav">
                                    <li><a href="" >Using Python</a></li>
                                    <li><a href="" >Data Types</a></li>
                                    <li><a href="" >Elements of Computer Programs</a></li>
                                    <li><a href="" >Defining Functions</a></li>

                    </ul></li>
                <li>
                    <a href="" class="nav-item-parent">Control and Sequences<span class="indicator"></span></a>
                    <ul class="nav">
                                    <li><a href="" >Statements</a></li>
                                    <li><a href="" class="nav-item-parent">Local Assignment<span class="indicator"></span></a></li>
                                    <li><a href="" class="nav-item-parent">Conditional Statements<span class="indicator"></span></a></li>
                                    <li><a href="" class="nav-item-parent">Iteration<span class="indicator"></span></a></li>
                                    <li><a href="" class="nav-item-parent">Booleans<span class="indicator"></span></a></li>
                                    <li><a href="" class="nav-item-parent">Branching<span class="indicator"></span></a></li>
                                    <li><a href="" class="nav-item-parent">Introduction to Lists<span class="indicator"></span></a></li>

                    </ul>
                </li>
                <li>
                    <a href="" class="nav-item-parent">Object Oriented Programming<span class="indicator"></span></a>
                    <ul class="nav">
                                        <li><a href="" >What is OOP?</a></li>
                                        <li><a href="" >Representing Objects</a></li>
                                        <li><a href="" >Inheritance</a></li>

                    </ul>
                </li>
                <li>
                    <a href="" class="nav-item-parent">Data Structures<span class="indicator"></span></a>
                    <ul class="nav">
                                        <li><a href="" >Arrays</a></li>
                                        <li><a href="" >Linked Lists</a></li>
                                        <li><a href="" >Stacks</a></li>
                                        <li><a href="" >Queues</a></li>
                                        <li><a href="" >Hash Tables</a></li>
                                        <li><a href="" >Trees and Graphs</a></li>
                                        <li><a href="" >Number Representation</a></li>
                    </ul>
                </li>
                <li>
                    <a href="" class="nav-item-parent">Algorithms<span class="indicator"></span></a>
                    <ul class="nav">
                                        <li><a href="" >Algorithmic Thinking</a></li>
                                        <li><a href="" >Search Algorithms</a></li>
                                        <li><a href="" >Sorting Algorithms</a></li>
                                        <li><a href="" >Recursion</a></li>
                                        <li><a href="" >Complexity</a></li>
                                        <li><a href="" >Binary Search</a></li>
                    </ul>
                </li>
                <li>
                    <a href="" class="nav-item-parent">Bonus Topics<span class="indicator"></span></a>
                    <ul class="nav">
                                        <li><a href="" >Text and Data Compression</a></li>
                                        <li><a href="" >Image and Sound Representation</a></li>
                                        <li><a href="" >Artificial Intelligence</a></li>
                                        <li><a href="" >Machine Learning</a></li>
                                        <li><a href="" >Data Science</a></li>
                    </ul>
                </li>

    </ul>
</nav>
<!-- /End mobile Nav -->


    </header>
  
    <main class="container-fluid side-column-left">
            <div class="row">
                <article class="content-container">
                                    <div class="accessibility-bar">

                        

                        
                            <!--START: Share Buttons and Page Tools-->
                            <ul class="pull-left share-menu">
                                <li class="li-print">
                                    <a class="share-print" href="letterhead.aspx.html#">
                                        <svg version="1.1" id="accessibility_bar-icon_print" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="14px" viewBox="0 0 16 14" enable-background="new 0 0 16 14" xml:space="preserve">
                                        <path d="M16,5.5h-2.4V3.1l-3-3.1H2.4v5.5H0v6.1h2.4V14h11.3v-2.3H16V5.5z M3.7,1.3H10v2.3h2.3v1.5H3.7V1.3z
					     M12.3,12.7H3.7v-1v-1.4h8.6v1.4V12.7z" />
                				    </svg>
                                        print
                                    </a>
                                </li>
                            </ul>

                            <ul class="pull-right text-size-control">
                                <li>
                                    <a href="letterhead.aspx.html#" class="text-size-minus">
                                        <svg version="1.1" id="accessibility_bar-text_smaller" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="17px" height="14px" viewBox="0 0 17 14" enable-background="new 0 0 17 14" xml:space="preserve">
                                        <title>Decrease font size</title>
                                        <g>
                                        <path d="M0,0c0,1.5-0.1,3-0.1,4.5c0.4,0,0.8,0,1.2,0c0,0,0-0.1,0-0.1c0.1-0.5,0.1-1.1,0.2-1.6
					    c0.1-0.6,0.4-1.2,1.1-1.4c0.7-0.2,1.4-0.3,2.1-0.1C4.8,1.4,5.1,1.6,5.2,2c0.1,0.3,0.1,0.6,0.1,0.9c0,2.7,0,5.4,0,8.1
					    c0,0.2,0,0.5,0,0.7c-0.1,0.6-0.3,0.9-1,1c-0.4,0.1-0.9,0-1.3,0c-0.1,0-0.1,0-0.2,0c0,0.4,0,0.8,0,1.2c2.3,0,4.6,0,7,0
					    c0-0.4,0-0.8,0-1.2c-0.1,0-0.2,0-0.2,0c-0.4,0-0.8,0-1.3-0.1c-0.6-0.1-0.8-0.3-0.9-0.9c-0.1-0.4-0.1-0.9-0.1-1.3c0-2.5,0-5,0-7.6
					    c0-0.3,0-0.6,0.1-1c0.1-0.4,0.3-0.7,0.7-0.7c0.5-0.1,1.1-0.1,1.6,0c0.9,0.2,1.4,0.6,1.5,1.5c0.1,0.4,0.1,0.8,0.1,1.2
					    c0,0.2,0,0.4,0,0.5c0.4,0,0.8,0,1.2,0c0-1.5-0.1-3-0.1-4.5C8.3,0,4.2,0,0,0z" />
                                        <rect x="12.9" y="7.8" width="4.3" height="0.6" />
			                        </g>
			                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="letterhead.aspx.html#" class="text-size-normal">
                                        <svg version="1.1" id="accessibility_bar-text_normal" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="13px" height="14px" viewBox="0 0 13 14" enable-background="new 0 0 13 14" xml:space="preserve">
                                        <title>Reset font size</title>
                                        <g>
                                        <path d="M0,0c0,1.5-0.1,3-0.1,4.5c0.4,0,0.8,0,1.2,0c0,0,0-0.1,0-0.1c0.1-0.5,0.1-1.1,0.2-1.6
					    c0.1-0.6,0.4-1.2,1.1-1.4c0.7-0.2,1.4-0.3,2.1-0.1C4.8,1.4,5.1,1.6,5.2,2c0.1,0.3,0.1,0.6,0.1,0.9c0,2.7,0,5.4,0,8.1
					    c0,0.2,0,0.5,0,0.7c-0.1,0.6-0.3,0.9-1,1c-0.4,0.1-0.9,0-1.3,0c-0.1,0-0.1,0-0.2,0c0,0.4,0,0.8,0,1.2c2.3,0,4.6,0,7,0
					    c0-0.4,0-0.8,0-1.2c-0.1,0-0.2,0-0.2,0c-0.4,0-0.8,0-1.3-0.1c-0.6-0.1-0.8-0.3-0.9-0.9c-0.1-0.4-0.1-0.9-0.1-1.3c0-2.5,0-5,0-7.6
					    c0-0.3,0-0.6,0.1-1c0.1-0.4,0.3-0.7,0.7-0.7c0.5-0.1,1.1-0.1,1.6,0c0.9,0.2,1.4,0.6,1.5,1.5c0.1,0.4,0.1,0.8,0.1,1.2
					    c0,0.2,0,0.4,0,0.5c0.4,0,0.8,0,1.2,0c0-1.5-0.1-3-0.1-4.5C8.3,0,4.2,0,0,0z" />
			                        </g>
			                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="letterhead.aspx.html#" class="text-size-plus">
                                        <svg version="1.1" id="accessibility_bar-text_bigger" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="14px" viewBox="0 0 18 14" enable-background="new 0 0 18 14" xml:space="preserve">
                                        <title>Increase font size</title>
                                        <g>
                                        <path d="M0,0c0,1.5-0.1,3-0.1,4.5c0.4,0,0.8,0,1.2,0c0,0,0-0.1,0-0.1c0.1-0.5,0.1-1.1,0.2-1.6
					    c0.1-0.6,0.4-1.2,1.1-1.4c0.7-0.2,1.4-0.3,2.1-0.1C4.8,1.4,5.1,1.6,5.2,2c0.1,0.3,0.1,0.6,0.1,0.9c0,2.7,0,5.4,0,8.1
					    c0,0.2,0,0.5,0,0.7c-0.1,0.6-0.3,0.9-1,1c-0.4,0.1-0.9,0-1.3,0c-0.1,0-0.1,0-0.2,0c0,0.4,0,0.8,0,1.2c2.3,0,4.6,0,7,0
					    c0-0.4,0-0.8,0-1.2c-0.1,0-0.2,0-0.2,0c-0.4,0-0.8,0-1.3-0.1c-0.6-0.1-0.8-0.3-0.9-0.9c-0.1-0.4-0.1-0.9-0.1-1.3c0-2.5,0-5,0-7.6
					    c0-0.3,0-0.6,0.1-1c0.1-0.4,0.3-0.7,0.7-0.7c0.5-0.1,1.1-0.1,1.6,0c0.9,0.2,1.4,0.6,1.5,1.5c0.1,0.4,0.1,0.8,0.1,1.2
					    c0,0.2,0,0.4,0,0.5c0.4,0,0.8,0,1.2,0c0-1.5-0.1-3-0.1-4.5C8.3,0,4.2,0,0,0z" />
                                        <polygon points="15.8,7.7 15.8,5.4 15.2,5.4 15.2,7.7 13,7.7 13,8.2 15.2,8.2 15.2,10.5 15.8,10.5 15.8,8.2 18,8.2
					    18,7.7 	" />
			    </g>
			                        </svg>
                                    </a>
                                </li>
                            </ul>
                        <!--END: Share Buttons and Page Tools-->
                        </div>
                
    

                
    



<section class="content-body content-serif">

            <header class="page-title">
                <h1>1.1 What is Programming?</h1>
            </header>


        <div class="content-wrap">
            



            <span>
                <p>Programming is the art of making a computer do what you want it to do. When trying to understand what "programming" means, it is also important to first define the term "algorithm". An algorithm is a detailed step-by-step formula for solving a problem or completing a task. Computer Programming is essentially the art of writing algorithms that tell a computer how to perform a task.</p><p >Programming is not synonimous to computer science. Computer science is more than just programming, although it is a critical part of a computer scientist's work. </p>
                <h2>So what is an Algorithm?</h2>
                <p>The recipe you use to make ugali is an algorithm (ok, not a computer algorithm in this case but it's an algorithm). We said an algorithm is a step-by-step formula for completing a task. What steps do you use to make ugali? Personally, I would apply these steps:</p>
                <p align="center"><img src="../images/courses/snap.png" class="snap"></p>
                <p>The image you see above is essentially a computer program. It describes an algorithm I use to make ugali. The language I used to describe this algorithm is called Snap. Before we start talking about programming languages, it's good to know that Snap is just like the blocks you might have been building in kindergarten. It has been developed at the University of California, Berkeley and is used to teach an introductory course, CS 50.</p>
                <p>This recipe has the following characteristics which is what defines an algorithm:
                    <ul>
                        <li>It has a sequence of simple <span style="color: #900; font-weight: bold;">steps</span></li>
                        <li>It applies a process that specifies<span style="color: #900; font-weight: bold;"> when </span>each step is executed.</li>
                        <li>It has a means of determining<span style="color: #900; font-weight: bold;"> when to stop</span>.</li>
                    </ul>
                </p>
                
                <h2>Programming Languages</h2>
                <p>To "speak" to a computer, you need to use a language it understands. For instance, if grandma only speaks Kiswahili it's pointless to try having a conversation in English with her. Computers only understand a language called <span style="font-style: italic;">binary</span>. "Binary" just means two in simple English. So when we say a computer only understands a "binary language", it means the way it represents numbers is just in form of ones (1s) and zeros (0s). So if for example you want to write a name like "Moses", a computer doesn't understand that. The name Moses in binary is some number of 1s and 0s. We will get into details in Chapter 5. For now it's just good to know that computers understand binary number representation.</p>
                <p></p>
            </span>
        </div>
        <hr>
        <div class="content-wrap">
            <h1>1.2 Installing Python</h1>
            <p>Python has many versions. In this course, we will use the most recent version of Python 3. Some computers have Python already installed, like the older version Python 2.7, but you need to install Python 3 if this is the case.</p>
            <p>You can download Python from the Python downloads page by clicking on the version that begins with 3. Follow the instructions of the installer to complete installation.</p>
            <h3 >Installing Python on Windows</h3>
            <p>You can install Python on Windows by following these steps.</p>
            <h3 >Installing Python on Linux</h3>
            <p>You can install Python on Linux by following these steps.</p>
            <h3 >Installing Python on a Mac</h3>
            <p>You can install Python on a Mac by following these steps.</p>
        </div>
        <div class="content-wrap">
            <h1>1.3 Introduction to the Terminal</h1>
            <p>A terminal is a program on a computer that executes commands. You can tell it to delete files, launch programs, run code, and even "hack" computers (pun-intended). It is also referred to as the command line, interpreter, or terminal But you can't use your mouse. You might now be asking, what are these commands that a shell executes?</p>
            <h5>What is a command?</h5>
            <p>If you've ever join a scouts or girl-guides club, you know what to do when the "commander" tells you to do something. When using a shell, you are essentially the commander and the computer obeys your commands. We will go ahead and look at some useful commands you can start using right away.</p>

        </div>
        <div class="content-wrap">
            <h1>1.4 Using Git</h1>
            <p>To send your code to an online repository, you need some form of "transport". That is what git is. It keeps track of what you want to "transport", and you can tell it where you want to send your code. It's like a truck. You add stuff. Then tell the driver where to go, and send it when everything is ready. Ok, departing from this metaphor. Let's now go ahead and install git so we can see what we can do with it. You will need it throughout this course and throughout your life as a computer programmer. But first we need to create a Github account. Github is just a website where programmers store their code.</p>
            <h4>Creating a Github account</h4>
            <p>Go to <span><a href="https://github.com">https://github.com</a></span> and create an account.</p>
            <h4>Setup Git</h4>
            <p>Download the right git version for your computer here. <span><a href="https://git-scm.com/download/win">Windows</a></span>   <span><a href="https://git-scm.com/download/linux">Linux</a></span>    <span><a href="https://git-scm.com/download/mac">Mac</a></span></p>

            <h5>Setup Name and Email</h5>
            <p>git config --global user.name "Your Name"</p>
            <p>git config --global user.email "your_email@something.com"</p>
            <h5>Creating a Git Repository</h5>
            <p>git init</p>
            <h5>Add some files to your repo</h5>
            <p>touch readme.txt</p>
            <p>git add readme.txt</p>
            <p>git commit -m "first commit"</p>
            <h5>Connect to a Remote</h5>
            <p>So now you have loaded your "truck" with a file called readme.txt, and you want to tell the driver where the destination is. To do that you need to go to your github account and create a new repository.</p>
            <img src="">
            <p>Copy the url of the repository you just created and go back to your terminal. Run this command</p>
            <p>git remote add origin https://github.com/your_username/repo1</p>
            <p>Awesome! What is now left is just sending the file to the destination. We do that by running the following command.</p>
            <h5>Pushing to Github</h5>
            <p>git push origin master</p>
            <h5>Understand what we have just done</h5>
            <p>Let's now look at what we have just done step by step and understand everything.</p>

            <h5>Checking Status</h5>
            <p>Sometimes you need to confirm is you've send your files to github. Git allows you to do so. Or there's a file that you didn't add to your "truck" - that is an untracked file. If it is untracked, you need to add by running git add nameoffile or if there are many files you can add them all simultaneously using git add . . Notice the dot after the space. It's not a mistake. To check the status of your "commits", run this command from inside your git repository (you will get some error or incorrect stuff if you do it elsewhere)</p>
            <p>git status</p>
            <p>You should see something of this sort</p>
            <img src="">
        </div>
        <div class="content-wrap">
            



            <span><ul ><li><a title="" href="">Next > Python Basics</a></li></ul>
            </span>
        </div>


</section>

    

                </article>
                <div class="side-column">
                    
    


                    

                    
    

                    

                </div>
                                </div>
    </main>




<footer class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="footer-container">
                <div class="footer-wrapper">
                            <section class="footer-logo-container">
                                <img src="../images/footer-logo.png" alt="M-Soma Institute" class="footer-logo" style="filter: grayscale(100%);">
                                <section class="footer-logo-copy">
                                    <span>M-Soma Institute</span>
                                </section>
                            </section>

                            <section class="footer-address">
                                <div class="footer-social-links"></div>
                            </section>
                            <section class="footer-navigation">

                                <div class="footer-links">
                                        <a href="http://www.msoma.org/">Home</a>
                                        <a href="http://www.msoma.org/mentorship">Mentorship</a>
                                        <a href="http://www.msoma.org/about">About</a>
                                        <a href="http://www.msoma.org/contact">Contact Us</a>
                                        <a href="http://www.msoma.org/bootcamp">Bootcamp Schedule</a>
                                        <a href="http://www.msoma.org/cs101">CS 101</a>
                                        <a href="http://www.msoma.org/cs101">Design Thinking</a>
                                        <a href="http://www.msoma.org/cs101">Web Development</a>
                                </div>
                            </section>
                    <!-- <section class="footer-copyright-container">
                        <div class="footer-wordmark" >

                            <div class="footer-copyright" >Programming Handbook is licensed under a Creative Commons Attribution-ShareAlike 3.0 Unported License.
                            </div>
                        </div>
                    </section> -->
                    <br>
                </div>
            </div>
            </div>
        </div>
</footer>


<!--Global analytics-->
<!-- <script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l; b[l] || (b[l] =
        function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
        e = o.createElement(i); r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-16886888-1');
    var dimensionValue = 'IPC - (2) Main site';
    ga('set', 'dimension1', dimensionValue);
    ga('send', 'pageview');
</script> -->

<script src="../javascripts/courses/config.js"></script>
<script src="../javascripts/courses/bundle.js"></script>
</body>
</html>
