<!doctype html>

<html class="no-js " lang="en">
<head>

<meta charset="utf-8">

<title>CS 101 - M Soma Bootcamp</title>

    <meta name="description" property="og:description" content="" />
    <meta name="twitter:description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
    

    <link rel="stylesheet" href="../stylesheets/courses/book.css">
    <script src="../javascripts/courses/modernizr.min.js"></script>
    <script src="../javascripts/courses/3VSpI8QH.js"></script>
</head>

<body>

        
    

    <header class="main">
        <nav class="topper">
            <div class="container-fluid">
                <div class="row">

<div class="topper-search">

    <div class="dropdown" id="information-for-menu">
        <a href="http://pythontutor.com/visualize.html#mode=edit" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" data-hover="dropdown" data-delay="200" data-close-others="true">
             Online Tutor
        </a>
    </div>

    <form id="header-search-expand" action="">
        <label class="search-field-label" for="query">Search <span class="icon svg-icon"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path d="M14 12.5L10.4 9c.6-.9 1-2 1-3.2C11.4 2.6 8.9 0 5.7 0 2.6 0 0 2.6 0 5.7s2.6 5.7 5.7 5.7c1.2 0 2.4-.4 3.3-1.1l3.6 3.6 1.4-1.4zm-8.3-3C3.7 9.5 2 7.8 2 5.7S3.7 2 5.7 2s3.7 1.7 3.7 3.7-1.6 3.8-3.7 3.8z" /></svg></span></label>
        <div class="search-field-container">
            <div class="form-group">
                <input type="text" class="search-field" id="searchQuery" name="searchQuery" placeholder="Search" title="Search Query">
                <input type="image" src="https://ysmwebsites.azureedge.net/static/images/subnav_arrow_white.svg?v=232" alt="Search" class="btn search-field-submit" title="Search">
            </div>
        </div>
    </form>
    
</div>
                    
                    <div class="topper-breadcrumb">
                                        <a href="http://www.msoma.org">M-Soma Institute</a>



                    </div>
                </div>
            </div>
        </nav>



<nav class="page-header">
    <div class="container-fluid">

                <h1 class="title-section">
                    <a href="" class="vertical-align">
                        Programming Handbook
                    </a>
                </h1>
        </div>
    </nav>


        

<nav class="nav-primary" id="nav-primary-menu-container">
    <ul class="container-fluid nav-primary-menu Grid" id="nav-primary-spastic">
                    <li class="dropdown Grid-cell">
                        <a href="/book/gettingstarted" class="btn btn-nav" type="button" id="nav-Who-We-Are">
                            Getting Started
                        <span class="caret"></span>
                    </a>
                            <div class="dropdown-menu" aria-labelledby="nav-Who-We-Are" id="dropdown-nav-Who-We-Are">
                                <ul>
                                            <li><a href="/book/gettingstarted">What is Programming?</a></li>
                                </ul>
                                <ul>
                                            <li><a href="/book/gettingstarted">Installing Python</a></li>
                                </ul>
                                <ul>
                                            <li><a href="/book/gettingstarted">Introduction to Terminal</a></li>
                                </ul>
                                <ul>
                                            <li><a href="/book/gettingstarted">Using Git</a></li>
                                </ul>
                            </div>
                </li>
                        <li class="dropdown Grid-cell"><a href="" class="btn btn-nav" type="button" id="nav-What-We-Do">Python Basics <span class="caret"></span></a><div class="dropdown-menu" aria-labelledby="nav-Who-We-Are" id="dropdown-nav-Who-We-Are">
                                <ul>
                                            <li><a href="">Using Python</a></li>
                                </ul>
                                <ul>
                                            <li><a href="">Data Types</a></li>
                                </ul>
                                <ul>
                                            <li><a href="">Elements of Computer Programs</a></li>
                                </ul>
                                <ul>
                                            <li><a href="">Defining Functions</a></li>
                                </ul>
                            </div></li>
                    <li class="dropdown Grid-cell">
                        <a href="/book/control_and_sequences" class="btn btn-nav" type="button" id="nav-Publications">
                            Control and Sequences
                        <span class="caret"></span>
                    </a>
                            <div class="dropdown-menu" aria-labelledby="nav-Publications" id="dropdown-nav-Publications">
                                <ul>
                                            <li><a href="/book/control_and_sequences">Statements</a></li>
                                            <li><a href="/book/control_and_sequences">Local Assignment</a></li>
                                            <li><a href="/book/control_and_sequences">Conditional Statements</a></li>
                                            <li><a href="/book/control_and_sequences">Iteration</a></li>
                                            <li><a href="/book/control_and_sequences">Booleans</a></li>
                                            <li><a href="/book/control_and_sequences">Branching</a></li>
                                            <li><a href="/book/control_and_sequences">Introduction to Lists</a></li>

                                </ul>
                            </div>
                </li>
                <li class="dropdown Grid-cell">
                        <a href="/book/objectorientedprogramming" class="btn btn-nav" type="button" id="nav-Digital--Social-Media">
                            OOP
                        <span class="caret"></span>
                    </a>
                            <div class="dropdown-menu" aria-labelledby="nav-Digital--Social-Media" id="dropdown-nav-Digital--Social-Media">
                                <ul>
                                            <li><a href="/book/objectorientedprogramming">What is Object Oriented Programming?</a></li>
                                            <li><a href="/book/objectorientedprogramming">Representing Objects</a></li>
                                            <li><a href="/book/objectorientedprogramming">Inheritance</a></li>
                                </ul>
                            </div>
                </li>
                <li class="dropdown Grid-cell">
                        <a href="/book/datastructures" class="btn btn-nav" type="button" id="nav-Web-Services">
                            Data Structures
                        <span class="caret"></span>
                    </a>
                            <div class="dropdown-menu" aria-labelledby="nav-Web-Services" id="dropdown-nav-Web-Services">
                                <ul>
                                            <li><a href="/book/datastructures">Arrays</a></li>
                                            <li><a href="/book/datastructures">Linked Lists</a></li>
                                            <li><a href="/book/datastructures">Stacks</a></li>
                                            <li><a href="/book/datastructures">Queues</a></li>
                                            <li><a href="/book/datastructures">Hash Tables</a></li>
                                            <li><a href="/book/datastructures">Trees and Graphs</a></li>
                                            <li><a href="/book/datastructures">Number Representation</a></li>
                                </ul>
                            </div>
                </li>
                    <li class="dropdown Grid-cell">
                        <a href="/book/algorithms" class="btn btn-nav" type="button" id="nav-Web-Services">
                            Algorithms
                        <span class="caret"></span>
                    </a>
                            <div class="dropdown-menu" aria-labelledby="nav-Web-Services" id="dropdown-nav-Web-Services">
                                <ul>
                                            <li><a href="/book/algorithms">Algorithmic Thinking</a></li>
                                            <li><a href="/book/algorithms">Search Algorithms</a></li>
                                            <li><a href="/book/algorithms">Sorting Algorithms</a></li>
                                            <li><a href="/book/algorithms">Recursion</a></li>
                                            <li><a href="/book/algorithms">Complexity</a></li>
                                            <li><a href="/book/algorithms">Binary Search</a></li>
                                </ul>
                            </div>
                </li>
                <li class="dropdown Grid-cell">
                        <a href="/book/bonustopics" class="btn btn-nav" type="button" id="nav-Web-Services">
                            Bonus Topics
                        <span class="caret"></span>
                    </a>
                            <div class="dropdown-menu" aria-labelledby="nav-Web-Services" id="dropdown-nav-Web-Services">
                                <ul>
                                            <li><a href="/book/bonustopics">Text and Data Compression</a></li>
                                            <li><a href="/book/bonustopics">Image and Sound Representation</a></li>
                                            <li><a href="/book/bonustopics">Artificial Intelligence</a></li>
                                            <li><a href="/book/bonustopics">Machine Learning</a></li>
                                            <li><a href="/book/bonustopics">Data Science</a></li>
                                </ul>
                            </div>
                </li>
                    
    </ul>
</nav>



        


<!--Mobile nav-->
<nav class="mobile-nav-primary" id="mobile-nav-primary-menu-container">
    <a href="" class="mobile-nav-toggle nav-item-parent">
        <div id="nav-icon3">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </a>
    <ul class="nav mobile-nav-primary-menu ">
                        <li>
                    <a href="/book/gettingstarted" class="nav-item-parent">Getting Started <span class="indicator"></span></a>
                    <ul class="nav">
                                        <li><a href="/book/gettingstarted" >What is Programming?</a></li>
                                        <li><a href="/book/gettingstarted" >Installing Python</a></li>
                                        <li><a href="/book/gettingstarted" >Introduction to Terminal</a></li>
                                        <li><a href="/book/gettingstarted" >Using Git</a></li>

                    </ul>
                </li>
                <li><a href="" class="nav-item-parent">Python Basics<span class="indicator"></span></a>
                    <ul class="nav">
                                    <li><a href="" >Using Python</a></li>
                                    <li><a href="" >Data Types</a></li>
                                    <li><a href="" >Elements of Computer Programs</a></li>
                                    <li><a href="" >Defining Functions</a></li>

                    </ul></li>
                <li>
                    <a href="/book/control_and_sequences" class="nav-item-parent">Control and Sequences<span class="indicator"></span></a>
                    <ul class="nav">
                                    <li><a href="/book/control_and_sequences" >Statements</a></li>
                                    <li><a href="/book/control_and_sequences" class="nav-item-parent">Local Assignment<span class="indicator"></span></a></li>
                                    <li><a href="/book/control_and_sequences" class="nav-item-parent">Conditional Statements<span class="indicator"></span></a></li>
                                    <li><a href="/book/control_and_sequences" class="nav-item-parent">Iteration<span class="indicator"></span></a></li>
                                    <li><a href="/book/control_and_sequences" class="nav-item-parent">Booleans<span class="indicator"></span></a></li>
                                    <li><a href="/book/control_and_sequences" class="nav-item-parent">Branching<span class="indicator"></span></a></li>
                                    <li><a href="/book/control_and_sequences" class="nav-item-parent">Introduction to Lists<span class="indicator"></span></a></li>

                    </ul>
                </li>
                <li>
                    <a href="/book/objectorientedprogramming" class="nav-item-parent">Object Oriented Programming<span class="indicator"></span></a>
                    <ul class="nav">
                                        <li><a href="/book/objectorientedprogramming" >What is OOP?</a></li>
                                        <li><a href="/book/objectorientedprogramming" >Representing Objects</a></li>
                                        <li><a href="/book/objectorientedprogramming" >Inheritance</a></li>

                    </ul>
                </li>
                <li>
                    <a href="/book/datastructures" class="nav-item-parent">Data Structures<span class="indicator"></span></a>
                    <ul class="nav">
                                        <li><a href="/book/datastructures" >Arrays</a></li>
                                        <li><a href="/book/datastructures" >Linked Lists</a></li>
                                        <li><a href="/book/datastructures" >Stacks</a></li>
                                        <li><a href="/book/datastructures" >Queues</a></li>
                                        <li><a href="/book/datastructures" >Hash Tables</a></li>
                                        <li><a href="/book/datastructures" >Trees and Graphs</a></li>
                                        <li><a href="/book/datastructures" >Number Representation</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/book/algorithms" class="nav-item-parent">Algorithms<span class="indicator"></span></a>
                    <ul class="nav">
                                        <li><a href="/book/algorithms" >Algorithmic Thinking</a></li>
                                        <li><a href="/book/algorithms" >Search Algorithms</a></li>
                                        <li><a href="/book/algorithms" >Sorting Algorithms</a></li>
                                        <li><a href="/book/algorithms" >Recursion</a></li>
                                        <li><a href="/book/algorithms" >Complexity</a></li>
                                        <li><a href="/book/algorithms" >Binary Search</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/book/bonustopics" class="nav-item-parent">Bonus Topics<span class="indicator"></span></a>
                    <ul class="nav">
                                        <li><a href="/book/bonustopics" >Text and Data Compression</a></li>
                                        <li><a href="/book/bonustopics" >Image and Sound Representation</a></li>
                                        <li><a href="/book/bonustopics" >Artificial Intelligence</a></li>
                                        <li><a href="/book/bonustopics" >Machine Learning</a></li>
                                        <li><a href="/book/bonustopics" >Data Science</a></li>
                    </ul>
                </li>

    </ul>
</nav>
<!-- /End mobile Nav -->


    </header>
  
    <main class="container-fluid side-column-left">
            <div class="row">
                <article class="content-container">
                                    <div class="accessibility-bar">

                        

                        
                            <!--START: Share Buttons and Page Tools-->
                            <ul class="pull-left share-menu">
                                <li class="li-print">
                                    <a class="share-print" href="letterhead.aspx.html#">
                                        <svg version="1.1" id="accessibility_bar-icon_print" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="14px" viewBox="0 0 16 14" enable-background="new 0 0 16 14" xml:space="preserve">
                                        <path d="M16,5.5h-2.4V3.1l-3-3.1H2.4v5.5H0v6.1h2.4V14h11.3v-2.3H16V5.5z M3.7,1.3H10v2.3h2.3v1.5H3.7V1.3z
					     M12.3,12.7H3.7v-1v-1.4h8.6v1.4V12.7z" />
                				    </svg>
                                        print
                                    </a>
                                </li>
                            </ul>

                            <ul class="pull-right text-size-control">
                                <li>
                                    <a href="letterhead.aspx.html#" class="text-size-minus">
                                        <svg version="1.1" id="accessibility_bar-text_smaller" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="17px" height="14px" viewBox="0 0 17 14" enable-background="new 0 0 17 14" xml:space="preserve">
                                        <title>Decrease font size</title>
                                        <g>
                                        <path d="M0,0c0,1.5-0.1,3-0.1,4.5c0.4,0,0.8,0,1.2,0c0,0,0-0.1,0-0.1c0.1-0.5,0.1-1.1,0.2-1.6
					    c0.1-0.6,0.4-1.2,1.1-1.4c0.7-0.2,1.4-0.3,2.1-0.1C4.8,1.4,5.1,1.6,5.2,2c0.1,0.3,0.1,0.6,0.1,0.9c0,2.7,0,5.4,0,8.1
					    c0,0.2,0,0.5,0,0.7c-0.1,0.6-0.3,0.9-1,1c-0.4,0.1-0.9,0-1.3,0c-0.1,0-0.1,0-0.2,0c0,0.4,0,0.8,0,1.2c2.3,0,4.6,0,7,0
					    c0-0.4,0-0.8,0-1.2c-0.1,0-0.2,0-0.2,0c-0.4,0-0.8,0-1.3-0.1c-0.6-0.1-0.8-0.3-0.9-0.9c-0.1-0.4-0.1-0.9-0.1-1.3c0-2.5,0-5,0-7.6
					    c0-0.3,0-0.6,0.1-1c0.1-0.4,0.3-0.7,0.7-0.7c0.5-0.1,1.1-0.1,1.6,0c0.9,0.2,1.4,0.6,1.5,1.5c0.1,0.4,0.1,0.8,0.1,1.2
					    c0,0.2,0,0.4,0,0.5c0.4,0,0.8,0,1.2,0c0-1.5-0.1-3-0.1-4.5C8.3,0,4.2,0,0,0z" />
                                        <rect x="12.9" y="7.8" width="4.3" height="0.6" />
			                        </g>
			                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="letterhead.aspx.html#" class="text-size-normal">
                                        <svg version="1.1" id="accessibility_bar-text_normal" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="13px" height="14px" viewBox="0 0 13 14" enable-background="new 0 0 13 14" xml:space="preserve">
                                        <title>Reset font size</title>
                                        <g>
                                        <path d="M0,0c0,1.5-0.1,3-0.1,4.5c0.4,0,0.8,0,1.2,0c0,0,0-0.1,0-0.1c0.1-0.5,0.1-1.1,0.2-1.6
					    c0.1-0.6,0.4-1.2,1.1-1.4c0.7-0.2,1.4-0.3,2.1-0.1C4.8,1.4,5.1,1.6,5.2,2c0.1,0.3,0.1,0.6,0.1,0.9c0,2.7,0,5.4,0,8.1
					    c0,0.2,0,0.5,0,0.7c-0.1,0.6-0.3,0.9-1,1c-0.4,0.1-0.9,0-1.3,0c-0.1,0-0.1,0-0.2,0c0,0.4,0,0.8,0,1.2c2.3,0,4.6,0,7,0
					    c0-0.4,0-0.8,0-1.2c-0.1,0-0.2,0-0.2,0c-0.4,0-0.8,0-1.3-0.1c-0.6-0.1-0.8-0.3-0.9-0.9c-0.1-0.4-0.1-0.9-0.1-1.3c0-2.5,0-5,0-7.6
					    c0-0.3,0-0.6,0.1-1c0.1-0.4,0.3-0.7,0.7-0.7c0.5-0.1,1.1-0.1,1.6,0c0.9,0.2,1.4,0.6,1.5,1.5c0.1,0.4,0.1,0.8,0.1,1.2
					    c0,0.2,0,0.4,0,0.5c0.4,0,0.8,0,1.2,0c0-1.5-0.1-3-0.1-4.5C8.3,0,4.2,0,0,0z" />
			                        </g>
			                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="letterhead.aspx.html#" class="text-size-plus">
                                        <svg version="1.1" id="accessibility_bar-text_bigger" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="14px" viewBox="0 0 18 14" enable-background="new 0 0 18 14" xml:space="preserve">
                                        <title>Increase font size</title>
                                        <g>
                                        <path d="M0,0c0,1.5-0.1,3-0.1,4.5c0.4,0,0.8,0,1.2,0c0,0,0-0.1,0-0.1c0.1-0.5,0.1-1.1,0.2-1.6
					    c0.1-0.6,0.4-1.2,1.1-1.4c0.7-0.2,1.4-0.3,2.1-0.1C4.8,1.4,5.1,1.6,5.2,2c0.1,0.3,0.1,0.6,0.1,0.9c0,2.7,0,5.4,0,8.1
					    c0,0.2,0,0.5,0,0.7c-0.1,0.6-0.3,0.9-1,1c-0.4,0.1-0.9,0-1.3,0c-0.1,0-0.1,0-0.2,0c0,0.4,0,0.8,0,1.2c2.3,0,4.6,0,7,0
					    c0-0.4,0-0.8,0-1.2c-0.1,0-0.2,0-0.2,0c-0.4,0-0.8,0-1.3-0.1c-0.6-0.1-0.8-0.3-0.9-0.9c-0.1-0.4-0.1-0.9-0.1-1.3c0-2.5,0-5,0-7.6
					    c0-0.3,0-0.6,0.1-1c0.1-0.4,0.3-0.7,0.7-0.7c0.5-0.1,1.1-0.1,1.6,0c0.9,0.2,1.4,0.6,1.5,1.5c0.1,0.4,0.1,0.8,0.1,1.2
					    c0,0.2,0,0.4,0,0.5c0.4,0,0.8,0,1.2,0c0-1.5-0.1-3-0.1-4.5C8.3,0,4.2,0,0,0z" />
                                        <polygon points="15.8,7.7 15.8,5.4 15.2,5.4 15.2,7.7 13,7.7 13,8.2 15.2,8.2 15.2,10.5 15.8,10.5 15.8,8.2 18,8.2
					    18,7.7 	" />
			    </g>
			                        </svg>
                                    </a>
                                </li>
                            </ul>
                        <!--END: Share Buttons and Page Tools-->
                        </div>
                
    

                
    



<section class="content-body content-serif">

            <header class="page-title">
                <h1>2.1 Using Python</h1>
            </header>


        <div class="content-wrap">
            



            <span>
                <h3 style="font-style: normal; font-weight: bold;">Running Python3 in the Terminal</h3>
                <p>Type <code>python3</code> in your terminal. The >>> you see shows you that you're inside the Python Shell. Let's do some calculations using python. Do the following arithmetic. After typing the digits, hit Enter</p>
                <pre class="shell"><span class="prompt">>>></span> <span>5</span>+<span>5</span>
                <br><span class="return">10</span>
                </pre>
                <pre class="shell"><span class="prompt">>>></span> <span>100</span>*<span>7</span>
                <br><span class="return">700</span>
                </pre>
                <pre class="shell"><span class="prompt">>>></span> <span>3</span>-<span>5</span>
                <br><span class="return">-2</span>
                </pre>
                <p>We can do more than just calculations with Python. Let's trying printing some statements</p>
                <pre class="shell"><span class="prompt">>>></span> <span class="green_print">print</span>('Hello there')
                <br><span class="return">Hello there</span>
                </pre>
                <pre class="shell"><span class="prompt">>>></span> <span class="green_print">print</span>(20 + 5)
                <br><span class="return">25</span>
                </pre>
                <p style="font-size: 80%; font-style: italic;">As you can see above, you can use Python to do all your calculations. There are many other mathematical expressions you can execute in the Python shell including division, modulo, among many others.</p>
                <pre style="padding-bottom: 0; padding-top: 0; width: 110px; background-color: rgba(204, 122, 111, 0.3);"><h5>Exercise 2.1</h5></pre>
                <h4>What does each of the following evaluate to?</h4>
                <p>
                <code>a. 30 + 1 * 0</code><br>
                <code>b. (30 + 1) * 0</code><br>
                <code>c. 9 % 4</code><br>
                <code>d. 4 / 5 * 5</code><br>
                <code>e. 4 // 5 * 5</code>
                <span style="font-style: italic;">Why is e. different from d.?</span><br>
                <code>f. 4.5 * 8</code><br>
                <code>g. 4.5 ** 8</code><br>
                <code>h. 16 % 2</code><br>
                <code>i. print("What's up")</code><br>
                <code>j. print("Hi" + "friend" + "!" + "I missed you")</code>
                <span style="font-style: italic;">How do you add spaces to the statement in j.?</span>

                </p>
            </span>
        </div>
        <div class="content-wrap">
            <h1>2.2 Data Types</h1>
            <p>In your primary school Mathematics class, you learned about Fractions, Decimals, Prime Numbers, and Algebra. All these can be referred to as Mathematical data types. </p>
            <p>When it comes to Python, the data types are just as diverse. All these are things you already encountered in primary school and high school, the only difference is that now we are giving them their official names. Or the names used in computer programming. They are grouped into different classes. There are numeric data types, booleans, sequences, sets, and mappings.</p>
            <h2>Numeric Types</h2>
            <p>There are different numeric types. This applies to any programming language.</p>
            <ul>
                <li><span class="green_print">int:</span> (Integers) these are just numbers like 1, 2, 3, 4, 100, 5000</li>
                <li><span class="green_print">float:</span> these are decimal numbers like <code>3.14159265359</code></li>
                <li><span class="green_print">str:</span> (String); these are expressions like <code>"this is a string"</code>, <code>"Monday"</code>. They are characters inside the quotation marks</li>
                <li><span class="green_print">bytes:</span> a sequence of integers between 0 and 255.</li>
                <li><span class="green_print">list</span> a list in python is a collection of data types. The list can contain same types or different types. Lists in python are enclosed inside parentheses. <code>{3, 4, 6, 12, "Tuesday"}</code></li>
                <li><span class="green_print">tuple:</span> a collection of values that can be treated as a unit. In many ways it's just like a list, but you cannot change the contents of a tuple whereas you can change the contents of a list.</li>
            </ul>
            <br>
            <h4>a. Integers</h4>
            <p>Integers are whole numbers - from large negative numbers to large positive numbers. In a computer, the size of numbers we use is restricted although it's not restricted in real life. This is just due to the amount of memory in your computer - it can't handle numbers upto infinity. In fact, on most current computers and programming languages there is an upper limit on the size of numbers called <span class="green_print" style="font-weight: bold;">MAXINT</span>.</p>
            <p>There are several arithmetic operations you can perform on integers. You can do addition, subtraction, multiplication, division, modulo, or exponentiation.</p>
            <pre class="shell"><br><span class="prompt">>>></span> <span class="green_print">print</span>(10 + 20)<span class="comment"> # addition of 10 and 20</span>
                <br><span class="return">30</span>
            </pre>
            <pre class="shell"><br><span class="prompt">>>></span> <span class="green_print">print</span>(40 - 1)<span class="comment"> # subtraction of 40 and 1</span>
                <br><span class="return">39</span>
            </pre>
            <pre class="shell"><br><span class="prompt">>>></span> <span class="green_print">print</span>(4 * 7)<span class="comment"> # multiplication of 4 and 7</span>
                <br><span class="return">28</span>
            </pre>
            <pre class="shell"><br><span class="prompt">>>></span> <span class="green_print">print</span>(80 / 10)<span class="comment"> # division of 80 and 10</span>
                <br><span class="return">8</span>
            </pre>
            <pre class="shell"><br><span class="prompt">>>></span> <span class="green_print">print</span>(24 % 5)<span class="comment"> # modulo: the remainder of 24 divided by 5</span>
                <br><span class="return">4</span>
            </pre>
            <pre class="shell"><br><span class="prompt">>>></span> <span class="green_print">print</span>(2**5)<span class="comment"> # exponentiation: 2 raised to power 5</span>
                <br><span class="return">32</span>
            </pre>
            <h4>b. Strings</h4>
            <p>In Python, strings can be represented in several ways. <li>With single quotes: <code>'This is a string with single quotes'</code></li>
            <li>With double quotes: <code>"This string has double quotes"</code></li></p>
            <li>With triple quotes: <code>""" This string has triple quotes. Sometimes you may want to use this if you have a very long string """</code></li></p>
            <p>You can perform different operations on strings. You can join two strings, split a string to sub-strings, copy one string to another, etc. Some of these operations are built into the Python language so using them is just straightforward. Others are not built into Python - we will go into details on how to use some operations that are not built into a language. Let's look at two built in operations - combining two strings into one, and repeating a string several times.</p>
            <p>Combining two strings into one is called <span class="green_print" style="font-weight: bold;">concatenation</span>. Open your terminal and try concatenating these strings.</p>
            <pre class="shell"><span class="prompt">>>></span> <span class="green_print">print</span>('Again and ' + 'again')<span class="comment"> # string concatenation</span>
                <br><span class="return">Again and again</span>
            </pre>
            <pre class="shell"><span class="prompt">>>></span> <span class="green_print">print</span>('Repeat ' * 3)<span class="comment"> # string repetition</span>
                <br><span class="return">Repeat Repeat Repeat</span>
            </pre>
            <pre class="shell"><span class="prompt">>>></span> <span class="green_print">print</span>('Again ' + ('and again' * 3)<span class="comment"> # string concatenation and repetition</span>
                <br><span class="return">Again and again and again and again</span>
            </pre>
            <br>
            <h2>Booleans</h2>
            <p>A boolean is a true or false value. Sometimes on a computer boolean values are represented using 0 or 1. (0 for false, and 1 for true). Boolean values are sometimes known as "truth values" because they are used to test whether something is true or not.</p>
            <h2>Sets</h2>
            <p>A set is an unordered collection of unique objects. A <span style="font-style: italic;">frozen set</span> is a set whose values <span style="font-style: italic;">cannot</span> be changed. </p>
            <h2>Mutable vs Immutable objects</h2>
            <p>A <span style="font-style: italic;">mutable</span> object is one whose contents can be changed, while an <span style="font-style: italic;">immutable</span> object is one whose contents cannot be changed.</p>
        </div>
        <div class="content-wrap">
            <h1>2.3 Elements of Computer Programs</h1>
            <p>Computer programs can be structured in four ways. When defining the term "algorithm" in Chapter 1, we said that it is a sequence of steps, it applies a process that specifies when each step is executed, and has a means of determining when to stop. When we are describing the common features of all programs, we will be just going into more details on this.</p>
            <P>These are the four main features we will explore:</p>
            
            <ul class="content-quote">
                <li><span style="font-weight: bold;">Sequences of instructions</span><br>
                <img src="../images/courses/sequence.gif"><br>
                This program follows these steps in strict sequence. It does not execute Step 3 before 2 and so on.
                </li>
                <li><span style="font-weight: bold;">Branches</span><br>
                <img src="../images/courses/branch.gif"><br>
                When this program reaches a certain point, it makes the decision whether to take the upper branch or the lower branch. Sometimes you might also be faced with a dilemma, where you have to choose between two or even more situations. Computer programs are just written to solve real world problems so such situations can also occur. This is called branching.
                </li>
                <li><span style="font-weight: bold;">Loops</span><br>
                <img src="../images/courses/loop.gif"><br>
                You eat food everytime you get hungry regardless of whether you only ate three hours ago, or you last ate the previous night. Eating is an endless loop in the human life. The test condition is "if or when you are hungry", then repeat the action which is eating. Computer programs are just like that. There are some operations that we need to repeat for many reasons. In that case we use loops. We will go into more details on this in Chapter 3.
                </li>
                <li><span style="font-weight: bold;">Functions</span><br>
                <img src="../images/courses/module.gif"><br>
                Sometimes you might have to repeat similar actions even when you're doing difference things. If for example you're making ugali, you need to clean your utensils first. If you're making uji, you also have to clean your utensils first. So if making ugali was Step 1 and making uji was Step 3, they both share some other action - which we're calling the shared module here. Computer programs also sometimes perform an identical sequence of actions several times. For convenience, these common actions are place in a module (also called function, or procedure). If you want to clean your utensils, you put all of them in the sink. That's what a module/function does here.
                </li>
            </ul>
        <p>Now we have seen that you can place common actions in one place called a function when designing computer programs. Let's now start designing our first functions.</p>

        </div>
        <div class="content-wrap">
            <h1>2.4 Defining Functions</h1>
            <p>So far what we've done is just using Python to do arithmetic operations, and printing some statements. We also saw that the fourth element of computer programs is that some actions might be repeated many times. If an action is repeated we can place it in a function or module, and then everytime we need to use it, we use that function we created.</p>
            <p>Let's do some more printing before we define our first function. If you're celebrating your birthday this month, let's make Python sing a little song for you.</p>
            <pre class="shell"><span class="prompt">>>></span> <span class="green_print">print</span>('Happy Birthday to you!')
            </pre>
            <pre class="shell"><span class="prompt">>>></span> <span class="green_print">print</span>('Happy Birthday to you!')
            </pre>
            <pre class="shell"><span class="prompt">>>></span> <span class="green_print">print</span>('Happy Birthday, dear friend')
            </pre>
            <pre class="shell"><span class="prompt">>>></span> <span class="green_print">print</span>('Happy Birthday to you!')
            </pre>
            <p>If I am also celebrating my birthday, it's a lot of work to keep writing the same code over and over again. To avoid this, we can create modules or functions, for each person who is celebrating their birthday.</p>
            <p>Moses is celebrating his birthday, so let's create a function that makes Python "sing" the birthday song for him.</p>
            <p>In Python, we will need to give our function a name so that we don't confuse with other functions. We are going to call it <code>happyBirthdayMoses</code>. When creating a function, we say we are defining it. We use the <code>def</code> keyword, short for define.</p>
            <pre class="function">
                <span class="def">def <span class="name">happyBirthdayMoses</span><span class="argument">():</span></span><br>
                <span class="print-statement">    print<span class="print-args"><span class="parentheses">(</span>"Happy Birthday to you!"<span class="parentheses">)</span></span></span><br>
                <span class="print-statement">    print<span class="print-args"><span class="parentheses">(</span>"Happy Birthday to you!"<span class="parentheses">)</span></span></span><br>
                <span class="print-statement">    print<span class="print-args"><span class="parentheses">(</span>"Happy Birthday, dear Moses!"<span class="parentheses">)</span></span></span><br>
                <span class="print-statement">    print<span class="print-args"><span class="parentheses">(</span>"Happy Birthday to you!"<span class="parentheses">)</span></span></span><br>
            </pre>
            <p>Before we make this function print the song, it is important to first understand every line we just wrote.</p>
            <ul>
            <li>Line 1: Contains <code>def</code>, the name of the function, parentheses, and a colon<br>All Python functions are written like this. The standard syntax for defining a function in Python is <br><code><span class="def">def </span><span class="name">function_name</span><span class="argument">():</span></code></li>
            <li>Line 2-5: Are indented by 4 spaces.<br> This is called a whitespace. If you fail to indent your code by this exact amount of spaces, you will get Syntax errors. That should not worry you, however, if you encounter this just correct the indentation on your code.</li>
            </ul>
        </div>
        <div class="content-wrap">
            



            <span><ul ><li><a title="" href="/book/control_and_sequences">Next > Control and Sequences</a></li></ul>
            </span>
        </div>


</section>

    

                </article>
                <div class="side-column">
                    
    


                    

                    
    

                    

                </div>
                                </div>
    </main>




<footer class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="footer-container">
                <div class="footer-wrapper">
                            <section class="footer-logo-container">
                                <img src="../images/footer-logo.png" alt="M-Soma Institute" class="footer-logo" style="filter: grayscale(100%);">
                                <section class="footer-logo-copy">
                                    <span>M-Soma Institute</span>
                                </section>
                            </section>

                            <section class="footer-address">
                                <div class="footer-social-links"></div>
                            </section>
                            <section class="footer-navigation">

                                <div class="footer-links">
                                        <a href="http://www.msoma.org/">Home</a>
                                        <a href="http://www.msoma.org/mentorship">Mentorship</a>
                                        <a href="http://www.msoma.org/about">About</a>
                                        <a href="http://www.msoma.org/contact">Contact Us</a>
                                        <a href="http://www.msoma.org/bootcamp">Bootcamp Schedule</a>
                                        <a href="http://www.msoma.org/cs101">CS 101</a>
                                        <a href="http://www.msoma.org/cs101">Design Thinking</a>
                                        <a href="http://www.msoma.org/cs101">Web Development</a>
                                </div>
                            </section>
                    <!-- <section class="footer-copyright-container">
                        <div class="footer-wordmark" >

                            <div class="footer-copyright" >Programming Handbook is licensed under a Creative Commons Attribution-ShareAlike 3.0 Unported License.
                            </div>
                        </div>
                    </section> -->
                    <br>
                </div>
            </div>
            </div>
        </div>
</footer>


<!--Global analytics-->
<!-- <script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l; b[l] || (b[l] =
        function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
        e = o.createElement(i); r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-16886888-1');
    var dimensionValue = 'IPC - (2) Main site';
    ga('set', 'dimension1', dimensionValue);
    ga('send', 'pageview');
</script> -->

<script src="../javascripts/courses/config.js"></script>
<script src="../javascripts/courses/bundle.js"></script>
</body>
</html>
