<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Web Design - M-Soma Institute</title>
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" />
    <link rel="canonical" href="https://msoma.org/about/" />
    <meta property="og:site_name" content="M-Soma Institute" />
    <meta property="og:title" content="About - M-Soma Institute" />
    <meta property="og:url" content="http://msoma.org/about/" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="M-Soma is a computer skills training program for Kenyan youth from under-resourced communities and schools. We aim to increase the number of skilled software engineers/developers in East Africa, and enable other career professionals to actively apply technology in their work." />
    <meta property="og:image" content="images/221.jpg" />
    <meta itemprop="name" content="What We Do" />
    <meta itemprop="url" content="https://msoma.org/about/" />
    <meta itemprop="description" content="M-Soma is a computer skills training program for Kenyan youth from under-resourced communities and schools. We aim to increase the number of skilled software engineers/developers in East Africa, and enable other career professionals to actively apply technology in their work." />
    <meta itemprop="thumbnailUrl" content="images/221.jpg" />
    <link rel="image_src" href="images/221.jpg" />
    <meta itemprop="image" content="images/221.jpg" />
    <meta name="twitter:title" content="M-Soma is a computer skills training program for Kenyan youth from under-resourced communities and schools. We aim to increase the number of skilled software engineers/developers in East Africa, and enable other career professionals to actively apply technology in their work." />
    <meta name="twitter:image" content="images/221.jpg" />
    <meta name="twitter:url" content="https://msoma.org/about/" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="M-Soma is a computer skills training program for Kenyan youth from under-resourced communities and schools. We aim to increase the number of skilled software engineers/developers in East Africa, and enable other career professionals to actively apply technology in their work." />
    <meta name="description" content="M-Soma is a computer skills training program for Kenyan youth from under-resourced communities and schools. We aim to increase the number of skilled software engineers/developers in East Africa, and enable other career professionals to actively apply technology in their work." />

    <link rel="stylesheet" href="../stylesheets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/css/main.css">

    <script src="../javascripts/js/jquery.min.js"></script> 
    <script src="../javascripts/js/bootstrap.min.js"></script>

</head>


  <body>

    <header>
<nav class="navbar">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home">2017 Bootcamp</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          
            
            
            <li class="">
              <a href="/web">Home</a> 
            </li>
          
            
            
            <li class="">
              <a href="/resources">Resources</a> 
            </li>
          
            
            
            <li class="">
              <a href="/web/workshops">Workshops</a> 
            </li>
          
            
            
            <li class="nav-active">
              <a href="/web/projects">Projects</a> 
            </li>
          
            
            
            <li class="">
              <a href="/web/homework">Homework</a> 
            </li>
          
        </ul>
      </div>
      
    </div>
  </nav>
</header>


        <main><div class="container">
  <h1>Web Design Projects</h1>
  <p>
    Every detail in these projects is chosen carefully to ensure that you've mastered the content covered during all workshops for that week.<br> Projects are due Wednesday the following week. All projects must be done individually, except with the help of the M-Soma instructors and mentors. If you use code snippets that you did not write yourself, you must credit the author appropriately.<br>While we encourage collaboration, there are limits such as not showing or sharing your code to someone else in any form.
  </p>

  <div class="row">
    
    <div class="col-lg-6 col-md-6 col-sm-6 project">
      <h4 class="left-border">Project #1: Static Website</h4>
      <a href="/web/projects/project1">Project details</a>
      <h5>Due: Wednesday, June 14, 2017 at 11:59PM</h5>
      <p>In this project, you will build a website with multiple pages. You must have a home page, an about page, and a contact page. You must use a background image on each page, have a header, and a footer as well as links on the body section.</p>
      <p>You must also have the following items in a list:</p>
      <ul>
        <li>Unordered list</li>
        <li>Ordered list</li>
      </ul>
      <h5>
          Total Points: 25
            
              + 2 Extra Credit
            
      </h5>
    </div>
    
    <div class="col-lg-6 col-md-6 col-sm-6 project">
      <h4 class="left-border">Project #2: Dynamic Website</h4>
      <a href="/web/projects/project2">Project details</a>
      <h5>Due: Wednesday, June 21, 2017 at 11:59PM</h5>
      <p>In this project, you will build a website with multiple pages. You must have a home page, an about page, and a contact page. You must use a background image on each page, have a header, and a footer as well as links on the body section.</p>
      <p>You must also have the following items in a list:</p>
      <ul>
        <li>Unordered list</li>
        <li>Ordered list</li>
      </ul>
      <h5>
          Total Points: 25
            
      </h5>
    </div>
    
    
  </div>

</div></main>
<script src="../javascripts/js/smooth-scroll.js"></script></main>
    <footer>
  <div class="container text-center">
    <small class="text-muted">
      Home &nbsp; &nbsp; | &nbsp; &nbsp; About &nbsp; &nbsp; | &nbsp; &nbsp; Mentors
      <br>
      © 2017 M-Soma Institute
    </small>
  </div>
</footer>

  </body>

</html>
