<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="utf-8">
  <title>Schedule | M-Soma Institute</title>
  <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
<link rel="canonical" href="http://msoma.org/schedule/"/>
<meta property="og:site_name" content="M-Soma Institute"/>
<meta property="og:title" content="Bootcamp Schedule"/>
<meta property="og:url" content="http://msoma.org/schedule/"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="Bootcamp Schedule"/>
<meta property="og:image" content="../images/thumbnail.jpeg"/>
<meta itemprop="name" content="Bootcamp Schedule"/>
<meta itemprop="url" content="http://msoma.org/schedule/"/>
<meta itemprop="description" content="Bootcamp Schedule"/>
<meta itemprop="thumbnailUrl" content="../images/thumbnail.jpeg"/>
<link rel="image_src" href="../images/thumbnail.jpeg" />
<meta itemprop="image" content="../images/thumbnail.jpeg"/>
<meta name="twitter:title" content="Bootcamp Schedule"/>
<meta name="twitter:image" content="../images/thumbnail.jpeg"/>
<meta name="twitter:url" content="http://msoma.org/schedule/"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:description" content="Bootcamp Schedule"/>
<meta name="description" content="Bootcamp Schedule" />
<!-- <script type="text/javascript" src="//use.typekit.com/fjk2hxr.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script> -->
<!-- <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Gentium+Basic:700,400,400i|Open+Sans:300,300i,400,600,700,700i,800,400i"/> -->
<link href="../stylesheets/schedule.plugins.min.css" rel="stylesheet">
<link href="../stylesheets/schedule.css" rel="stylesheet">
<link href="../stylesheets/bootcamp.css" rel="stylesheet">
<link href="../stylesheets/ie.css" rel="stylesheet">

<script src="../javascripts/modernizr.respond.min.js"></script>
  <style type="text/css">

   .site-highlights .row .col .inner{
       width: 100%
   }

  </style>

  <link href="../stylesheets/SpryTabbedPanels.css" rel="stylesheet" type="text/css">
  <script src="../javascripts/SpryTabbedPanels.js" type="text/javascript"></script>

<body class="schedule">

<!-- HEADER -->
<header class="site-header">
  <div class="container">
    <h2>
  <a href="http://www.msoma.org/">
    <img src="../images/brandbar-logo.png" alt="M-Soma Institute" width="153" height="22">
  </a>
</h2>
<div class="row cols-66-33">
  <div class="col">
    <h1><a href="" title="Bootcamp 2017 Schedule">Bootcamp 2017 Schedule</a></h1>
  </div>

  <!-- LOGIN BUTTONS -->
  <div class="col hidden-phone">
    <p class="pull-right">
      <a href="http://www.msoma.org" target="_blank" class="action action-request">Home</a>
      <a href="" target="_blank" class="action action-apply">Log Out</a>
    </p>
  </div>

  <!-- END OF LOGIN BUTTONS -->
</div>
  </div>
</header>

<!-- <locdate>
  <div class="container">
      </div>
</locdate>
 -->
<!-- NAVBAR -->
<nav class="main-nav">
  <div class="container">
    <div class="navbar">
  <div class="navbar-inner">

      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        Menu
      </a>
	
	<!-- LOGIN BUTTONS -->
      <div class="hidden-desktop">
        <p class="pull-right">
          <a href="http://www.msoma.org/" class="action action-request">Home</a>
          <a href="" target="_blank" class="action action-apply">Log Out</a> 
        </p>
      </div>

    <!-- END OF LOGIN BUTTONS -->

      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <ul class="nav" id="main-nav">
          <li class="Schedule"><a href="/bootcamp/schedule">Schedule</a></li>
          <li class="courses"><a href="/bootcamp/courses">Courses</a></li>
          <li class="courses dropdown hidden-desktop"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Activities<b class="caret"></b></a>
            <ul class="dropdown-menu"><li><a href="/bootcamp/mentors">Mentors Visiting</a></li><li><a href="/bootcamp/tours">Tours</a></li><li><a href="/bootcamp/speakers">Speakers</a></li></ul>          </li>
          <li class="tuition"><a href="/bootcamp/registration">Registration</a></li>
          <li class="faculty"><a href="/bootcamp/instructors">Instructors</a></li>
          <li class="videos"><a href="/bootcamp/videos">Videos</a></li>
          <li class="about"><a href="/college-apps">College Apps</a></li>
        </ul>
      </div>

  </div>
</div>
  </div>
</nav>

<!-- MAIN -->
<section class="main-content">
  <div class="container container-split">

    <aside class="secondary-nav main-content-left hidden-phone">
      <H3>Other Activities</H3>
<ul class=""><li><a href="/bootcamp/mentors">Mentors Meeting</a></li><li><a href="/bootcamp/tours">Tours</a></li><li><a href="/bootcamp/speakers">Speakers</a></li></ul>
    </aside>

    <article class="content main-content-right">

      <div class="row cols-66-33">
        <header class="col">

          <!-- SECTION TITLE (mobile only) -->
          <H3 class="section-title hidden-desktop"></H3>

          <!-- PAGE TITLE -->
          <h1 class="page-title">Daily Schedule</h1>

        </header>
      </div>

      <!-- CONTENT -->
  
<div id="TabbedPanels1" class="TabbedPanels">
  <ul class="TabbedPanelsTabGroup">
    <li class="TabbedPanelsTab" tabindex="0">
      <div align="center"> Week 1</div>
    </li>
    <li class="TabbedPanelsTab" tabindex="0">
      <div align="center">Week 2</div>
    </li>
    <li class="TabbedPanelsTab" tabindex="0">
      <div align="center">Week 3</div>
    </li>
    <li class="TabbedPanelsTab" tabindex="0">
      <div align="center">Week 4</div>
    </li>
    
  </ul>
  <div class="TabbedPanelsContentGroup">
    <!-- Week 1 Schedule starts -->
    <div class="TabbedPanelsContent">
  		<!-- Monday-->
        <table>
          <tr class="header" style>
            <td colspan="4"><div align="center" class="title">Monday</div></td>
          </tr>

          <tr>
            <td class="alt" >11:30 am</td>
            <td colspan="3" class="alt left"><em>Registration Opens and Lunch</em></td>
          </tr>
          
          <tr>
            <td class="col" >1:00 pm</td>
            <td class="col left" colspan="3">Introduction</td>
          </tr>
          <tr>
            <td class="alt" >1:45 pm</td>
            <td class="alt left" colspan="3">The Ideation Tune-up</td>
          </tr>
         
          <tr>
            <td class="col" >3:30 pm</td>
            <td class="col left" colspan="3"><strong>Keynote  Speaker:</strong> David Kelley on Design Thinking and Creative Confidence</td>
          </tr>
          <tr>
            <td class="alt" >4:30 pm</td>
            <td class="alt left" colspan="3"><a class="modal fancybox.iframe" href="http://www.youtube.com/embed/QkWM2--3TQo?autoplay=1">The  Art of Critique: I Like/I Wish</a></td>
          </tr>
         
          <tr>
            <td class="col" >4:45 pm</td>
            <td class="col left" colspan="3"><em>Tour and Reception at IDEO</em></td>
          </tr>
       
      </table>

      <!-- Tuesday-->
        <table>
         
          <tr class="header" style>
            <td colspan="4"><div align="center" class="title">Tuesday</div></td>
          </tr>
          <tr>
            <td class="alt" >8:30 am</td>
            <td colspan="3" class="alt left"><em>Continental Breakfast</em></td>
          </tr>
          <tr>
            <td class="col" >9:00 am</td>
            <td class="col left" colspan="3"><strong>Keynote Speaker:</strong> Bernie Roth - The Question is the Answer</td>
          </tr>
         
          <tr>
            <td class="alt" >10:30 am</td>
            <td class="alt left" colspan="3">Bio-Inspired Design</td>
          </tr>
          <tr>
            <td class="col" >12:00 pm</td>
            <td class="col left" colspan="3"><em>Robotics Lab Tour and Lunch</em></td>
          </tr>
          <tr>
            <td class="alt" >1:35 pm</td>
            <td class="alt left" colspan="3"><em>Separate into 2 groups</em></td>
          </tr>
          <tr>
            <td class="col" >1:45 pm</td>
            <td class="col left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="alt" >3:45 pm</td>
            <td class="alt left" colspan="3"><em>Swap groups</em></td>
          </tr>
          <tr>
            <td class="alt" >4:00 pm</td>
            <td class="alt left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="col" >5:30 pm</td>
            <td class="col left" colspan="3"><em>Tour and Reception, CARS Facility Tour and Concept Car Demonstrations</em></td>
          </tr>
              
      </table>

      <!-- Wednesday -->
        <table>
         
          <tr class="header" style>
            <td colspan="4"><div align="center" class="title">Wednesday</div></td>
          </tr>
          <tr>
            <td class="alt" >8:30 am</td>
            <td colspan="3" class="alt left"><em>Continental Breakfast</em></td>
          </tr>
          <tr>
            <td class="col" >9:00 am</td>
            <td class="col left" colspan="3"><strong>Keynote Speaker:</strong> Bernie Roth - The Question is the Answer</td>
          </tr>
         
          <tr>
            <td class="alt" >10:30 am</td>
            <td class="alt left" colspan="3">Bio-Inspired Design</td>
          </tr>
          <tr>
            <td class="col" >12:00 pm</td>
            <td class="col left" colspan="3"><em>Robotics Lab Tour and Lunch</em></td>
          </tr>
          <tr>
            <td class="alt" >1:35 pm</td>
            <td class="alt left" colspan="3"><em>Separate into 2 groups</em></td>
          </tr>
          <tr>
            <td class="col" >1:45 pm</td>
            <td class="col left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="alt" >3:45 pm</td>
            <td class="alt left" colspan="3"><em>Swap groups</em></td>
          </tr>
          <tr>
            <td class="alt" >4:00 pm</td>
            <td class="alt left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="col" >5:30 pm</td>
            <td class="col left" colspan="3"><em>Tour and Reception, CARS Facility Tour and Concept Car Demonstrations</em></td>
          </tr>
              
      </table>
      <!-- Thursday-->
        <table>
         
          <tr class="header" style>
            <td colspan="4"><div align="center" class="title">Thursday</div></td>
          </tr>
          <tr>
            <td class="alt" >8:30 am</td>
            <td colspan="3" class="alt left"><em>Continental Breakfast</em></td>
          </tr>
          <tr>
            <td class="col" >9:00 am</td>
            <td class="col left" colspan="3"><strong>Keynote Speaker:</strong> Bernie Roth - The Question is the Answer</td>
          </tr>
         
          <tr>
            <td class="alt" >10:30 am</td>
            <td class="alt left" colspan="3">Bio-Inspired Design</td>
          </tr>
          <tr>
            <td class="col" >12:00 pm</td>
            <td class="col left" colspan="3"><em>Robotics Lab Tour and Lunch</em></td>
          </tr>
          <tr>
            <td class="alt" >1:35 pm</td>
            <td class="alt left" colspan="3"><em>Separate into 2 groups</em></td>
          </tr>
          <tr>
            <td class="col" >1:45 pm</td>
            <td class="col left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="alt" >3:45 pm</td>
            <td class="alt left" colspan="3"><em>Swap groups</em></td>
          </tr>
          <tr>
            <td class="alt" >4:00 pm</td>
            <td class="alt left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="col" >5:30 pm</td>
            <td class="col left" colspan="3"><em>Tour and Reception, CARS Facility Tour and Concept Car Demonstrations</em></td>
          </tr>
              
      </table>
      <!-- Friday -->
        <table>
         
          <tr class="header" style>
            <td colspan="4"><div align="center" class="title">Friday</div></td>
          </tr>
          <tr>
            <td class="alt" >8:30 am</td>
            <td colspan="3" class="alt left"><em>Continental Breakfast</em></td>
          </tr>
          <tr>
            <td class="col" >9:00 am</td>
            <td class="col left" colspan="3"><strong>Keynote Speaker:</strong> Bernie Roth - The Question is the Answer</td>
          </tr>
         
          <tr>
            <td class="alt" >10:30 am</td>
            <td class="alt left" colspan="3">Bio-Inspired Design</td>
          </tr>
          <tr>
            <td class="col" >12:00 pm</td>
            <td class="col left" colspan="3"><em>Robotics Lab Tour and Lunch</em></td>
          </tr>
          <tr>
            <td class="alt" >1:35 pm</td>
            <td class="alt left" colspan="3"><em>Separate into 2 groups</em></td>
          </tr>
          <tr>
            <td class="col" >1:45 pm</td>
            <td class="col left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="alt" >3:45 pm</td>
            <td class="alt left" colspan="3"><em>Swap groups</em></td>
          </tr>
          <tr>
            <td class="alt" >4:00 pm</td>
            <td class="alt left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="col" >5:30 pm</td>
            <td class="col left" colspan="3"><em>Tour and Reception, CARS Facility Tour and Concept Car Demonstrations</em></td>
          </tr>
              
      </table>
   </div>
 <!-- Week 1 Schedule ends -->
  
 
    <!-- Week 2 Schedule -->
    <div class="TabbedPanelsContent">
    	<!-- Monday -->
         <table>
         
          <tr class="header" style>
            <td colspan="4"><div align="center" class="title">Monday</div></td>
          </tr>
          <tr>
            <td class="alt" >8:30 am</td>
            <td colspan="3" class="alt left"><em>Continental Breakfast</em></td>
          </tr>
          <tr>
            <td class="col" >9:00 am</td>
            <td class="col left" colspan="3"><strong>Keynote Speaker:</strong> Bernie Roth - The Question is the Answer</td>
          </tr>
         
          <tr>
            <td class="alt" >10:30 am</td>
            <td class="alt left" colspan="3">Bio-Inspired Design</td>
          </tr>
          <tr>
            <td class="col" >12:00 pm</td>
            <td class="col left" colspan="3"><em>Robotics Lab Tour and Lunch</em></td>
          </tr>
          <tr>
            <td class="alt" >1:35 pm</td>
            <td class="alt left" colspan="3"><em>Separate into 2 groups</em></td>
          </tr>
          <tr>
            <td class="col" >1:45 pm</td>
            <td class="col left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="alt" >3:45 pm</td>
            <td class="alt left" colspan="3"><em>Swap groups</em></td>
          </tr>
          <tr>
            <td class="alt" >4:00 pm</td>
            <td class="alt left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="col" >5:30 pm</td>
            <td class="col left" colspan="3"><em>Tour and Reception, CARS Facility Tour and Concept Car Demonstrations</em></td>
          </tr>
              
      </table>
      <!-- Tuesday -->
         <table>
         
          <tr class="header" style>
            <td colspan="4"><div align="center" class="title">Tuesday</div></td>
          </tr>
          <tr>
            <td class="alt" >8:30 am</td>
            <td colspan="3" class="alt left"><em>Continental Breakfast</em></td>
          </tr>
          <tr>
            <td class="col" >9:00 am</td>
            <td class="col left" colspan="3"><strong>Keynote Speaker:</strong> Bernie Roth - The Question is the Answer</td>
          </tr>
         
          <tr>
            <td class="alt" >10:30 am</td>
            <td class="alt left" colspan="3">Bio-Inspired Design</td>
          </tr>
          <tr>
            <td class="col" >12:00 pm</td>
            <td class="col left" colspan="3"><em>Robotics Lab Tour and Lunch</em></td>
          </tr>
          <tr>
            <td class="alt" >1:35 pm</td>
            <td class="alt left" colspan="3"><em>Separate into 2 groups</em></td>
          </tr>
          <tr>
            <td class="col" >1:45 pm</td>
            <td class="col left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="alt" >3:45 pm</td>
            <td class="alt left" colspan="3"><em>Swap groups</em></td>
          </tr>
          <tr>
            <td class="alt" >4:00 pm</td>
            <td class="alt left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="col" >5:30 pm</td>
            <td class="col left" colspan="3"><em>Tour and Reception, CARS Facility Tour and Concept Car Demonstrations</em></td>
          </tr>
              
      </table>
      <!-- Wednesday -->
         <table>
         
          <tr class="header" style>
            <td colspan="4"><div align="center" class="title">Wednesday</div></td>
          </tr>
          <tr>
            <td class="alt" >8:30 am</td>
            <td colspan="3" class="alt left"><em>Continental Breakfast</em></td>
          </tr>
          <tr>
            <td class="col" >9:00 am</td>
            <td class="col left" colspan="3"><strong>Keynote Speaker:</strong> Bernie Roth - The Question is the Answer</td>
          </tr>
         
          <tr>
            <td class="alt" >10:30 am</td>
            <td class="alt left" colspan="3">Bio-Inspired Design</td>
          </tr>
          <tr>
            <td class="col" >12:00 pm</td>
            <td class="col left" colspan="3"><em>Robotics Lab Tour and Lunch</em></td>
          </tr>
          <tr>
            <td class="alt" >1:35 pm</td>
            <td class="alt left" colspan="3"><em>Separate into 2 groups</em></td>
          </tr>
          <tr>
            <td class="col" >1:45 pm</td>
            <td class="col left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="alt" >3:45 pm</td>
            <td class="alt left" colspan="3"><em>Swap groups</em></td>
          </tr>
          <tr>
            <td class="alt" >4:00 pm</td>
            <td class="alt left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="col" >5:30 pm</td>
            <td class="col left" colspan="3"><em>Tour and Reception, CARS Facility Tour and Concept Car Demonstrations</em></td>
          </tr>
              
      </table>
      <!-- Thursday -->
         <table>
         
          <tr class="header" style>
            <td colspan="4"><div align="center" class="title">Thursday</div></td>
          </tr>
          <tr>
            <td class="alt" >8:30 am</td>
            <td colspan="3" class="alt left"><em>Continental Breakfast</em></td>
          </tr>
          <tr>
            <td class="col" >9:00 am</td>
            <td class="col left" colspan="3"><strong>Keynote Speaker:</strong> Bernie Roth - The Question is the Answer</td>
          </tr>
         
          <tr>
            <td class="alt" >10:30 am</td>
            <td class="alt left" colspan="3">Bio-Inspired Design</td>
          </tr>
          <tr>
            <td class="col" >12:00 pm</td>
            <td class="col left" colspan="3"><em>Robotics Lab Tour and Lunch</em></td>
          </tr>
          <tr>
            <td class="alt" >1:35 pm</td>
            <td class="alt left" colspan="3"><em>Separate into 2 groups</em></td>
          </tr>
          <tr>
            <td class="col" >1:45 pm</td>
            <td class="col left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="alt" >3:45 pm</td>
            <td class="alt left" colspan="3"><em>Swap groups</em></td>
          </tr>
          <tr>
            <td class="alt" >4:00 pm</td>
            <td class="alt left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="col" >5:30 pm</td>
            <td class="col left" colspan="3"><em>Tour and Reception, CARS Facility Tour and Concept Car Demonstrations</em></td>
          </tr>
              
      </table>
      <!-- Friday -->
         <table>
         
          <tr class="header" style>
            <td colspan="4"><div align="center" class="title">Friday</div></td>
          </tr>
          <tr>
            <td class="alt" >8:30 am</td>
            <td colspan="3" class="alt left"><em>Continental Breakfast</em></td>
          </tr>
          <tr>
            <td class="col" >9:00 am</td>
            <td class="col left" colspan="3"><strong>Keynote Speaker:</strong> Bernie Roth - The Question is the Answer</td>
          </tr>
         
          <tr>
            <td class="alt" >10:30 am</td>
            <td class="alt left" colspan="3">Bio-Inspired Design</td>
          </tr>
          <tr>
            <td class="col" >12:00 pm</td>
            <td class="col left" colspan="3"><em>Robotics Lab Tour and Lunch</em></td>
          </tr>
          <tr>
            <td class="alt" >1:35 pm</td>
            <td class="alt left" colspan="3"><em>Separate into 2 groups</em></td>
          </tr>
          <tr>
            <td class="col" >1:45 pm</td>
            <td class="col left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="alt" >3:45 pm</td>
            <td class="alt left" colspan="3"><em>Swap groups</em></td>
          </tr>
          <tr>
            <td class="alt" >4:00 pm</td>
            <td class="alt left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="col" >5:30 pm</td>
            <td class="col left" colspan="3"><em>Tour and Reception, CARS Facility Tour and Concept Car Demonstrations</em></td>
          </tr>
              
      </table>
    </div>
<!-- Week 2 Schedule Ends-->

<!-- Week 3 Schedule -->
    <div class="TabbedPanelsContent">
    	<!-- Monday -->
         <table>
         
          <tr class="header" style>
            <td colspan="4"><div align="center" class="title">Monday</div></td>
          </tr>
          <tr>
            <td class="alt" >8:30 am</td>
            <td colspan="3" class="alt left"><em>Continental Breakfast</em></td>
          </tr>
          <tr>
            <td class="col" >9:00 am</td>
            <td class="col left" colspan="3"><strong>Keynote Speaker:</strong> Bernie Roth - The Question is the Answer</td>
          </tr>
         
          <tr>
            <td class="alt" >10:30 am</td>
            <td class="alt left" colspan="3">Bio-Inspired Design</td>
          </tr>
          <tr>
            <td class="col" >12:00 pm</td>
            <td class="col left" colspan="3"><em>Robotics Lab Tour and Lunch</em></td>
          </tr>
          <tr>
            <td class="alt" >1:35 pm</td>
            <td class="alt left" colspan="3"><em>Separate into 2 groups</em></td>
          </tr>
          <tr>
            <td class="col" >1:45 pm</td>
            <td class="col left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="alt" >3:45 pm</td>
            <td class="alt left" colspan="3"><em>Swap groups</em></td>
          </tr>
          <tr>
            <td class="alt" >4:00 pm</td>
            <td class="alt left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="col" >5:30 pm</td>
            <td class="col left" colspan="3"><em>Tour and Reception, CARS Facility Tour and Concept Car Demonstrations</em></td>
          </tr>
              
      </table>
      <!-- Tuesday -->
         <table>
         
          <tr class="header" style>
            <td colspan="4"><div align="center" class="title">Tuesday</div></td>
          </tr>
          <tr>
            <td class="alt" >8:30 am</td>
            <td colspan="3" class="alt left"><em>Continental Breakfast</em></td>
          </tr>
          <tr>
            <td class="col" >9:00 am</td>
            <td class="col left" colspan="3"><strong>Keynote Speaker:</strong> Bernie Roth - The Question is the Answer</td>
          </tr>
         
          <tr>
            <td class="alt" >10:30 am</td>
            <td class="alt left" colspan="3">Bio-Inspired Design</td>
          </tr>
          <tr>
            <td class="col" >12:00 pm</td>
            <td class="col left" colspan="3"><em>Robotics Lab Tour and Lunch</em></td>
          </tr>
          <tr>
            <td class="alt" >1:35 pm</td>
            <td class="alt left" colspan="3"><em>Separate into 2 groups</em></td>
          </tr>
          <tr>
            <td class="col" >1:45 pm</td>
            <td class="col left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="alt" >3:45 pm</td>
            <td class="alt left" colspan="3"><em>Swap groups</em></td>
          </tr>
          <tr>
            <td class="alt" >4:00 pm</td>
            <td class="alt left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="col" >5:30 pm</td>
            <td class="col left" colspan="3"><em>Tour and Reception, CARS Facility Tour and Concept Car Demonstrations</em></td>
          </tr>
              
      </table>
      <!-- Wednesday -->
         <table>
         
          <tr class="header" style>
            <td colspan="4"><div align="center" class="title">Wednesday</div></td>
          </tr>
          <tr>
            <td class="alt" >8:30 am</td>
            <td colspan="3" class="alt left"><em>Continental Breakfast</em></td>
          </tr>
          <tr>
            <td class="col" >9:00 am</td>
            <td class="col left" colspan="3"><strong>Keynote Speaker:</strong> Bernie Roth - The Question is the Answer</td>
          </tr>
         
          <tr>
            <td class="alt" >10:30 am</td>
            <td class="alt left" colspan="3">Bio-Inspired Design</td>
          </tr>
          <tr>
            <td class="col" >12:00 pm</td>
            <td class="col left" colspan="3"><em>Robotics Lab Tour and Lunch</em></td>
          </tr>
          <tr>
            <td class="alt" >1:35 pm</td>
            <td class="alt left" colspan="3"><em>Separate into 2 groups</em></td>
          </tr>
          <tr>
            <td class="col" >1:45 pm</td>
            <td class="col left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="alt" >3:45 pm</td>
            <td class="alt left" colspan="3"><em>Swap groups</em></td>
          </tr>
          <tr>
            <td class="alt" >4:00 pm</td>
            <td class="alt left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="col" >5:30 pm</td>
            <td class="col left" colspan="3"><em>Tour and Reception, CARS Facility Tour and Concept Car Demonstrations</em></td>
          </tr>
              
      </table>
      <!-- Thursday -->
         <table>
         
          <tr class="header" style>
            <td colspan="4"><div align="center" class="title">Thursday</div></td>
          </tr>
          <tr>
            <td class="alt" >8:30 am</td>
            <td colspan="3" class="alt left"><em>Continental Breakfast</em></td>
          </tr>
          <tr>
            <td class="col" >9:00 am</td>
            <td class="col left" colspan="3"><strong>Keynote Speaker:</strong> Bernie Roth - The Question is the Answer</td>
          </tr>
         
          <tr>
            <td class="alt" >10:30 am</td>
            <td class="alt left" colspan="3">Bio-Inspired Design</td>
          </tr>
          <tr>
            <td class="col" >12:00 pm</td>
            <td class="col left" colspan="3"><em>Robotics Lab Tour and Lunch</em></td>
          </tr>
          <tr>
            <td class="alt" >1:35 pm</td>
            <td class="alt left" colspan="3"><em>Separate into 2 groups</em></td>
          </tr>
          <tr>
            <td class="col" >1:45 pm</td>
            <td class="col left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="alt" >3:45 pm</td>
            <td class="alt left" colspan="3"><em>Swap groups</em></td>
          </tr>
          <tr>
            <td class="alt" >4:00 pm</td>
            <td class="alt left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="col" >5:30 pm</td>
            <td class="col left" colspan="3"><em>Tour and Reception, CARS Facility Tour and Concept Car Demonstrations</em></td>
          </tr>
              
      </table>
      <!-- Friday -->
         <table>
          <tr class="header" style>
            <td colspan="4"><div align="center" class="title">Friday</div></td>
          </tr>
          <tr>
            <td class="alt" >8:30 am</td>
            <td colspan="3" class="alt left"><em>Continental Breakfast</em></td>
          </tr>
          <tr>
            <td class="col" >9:00 am</td>
            <td class="col left" colspan="3">Hunting by Design</td>
          </tr>
         
          <tr>
            <td class="alt" >10:45 am</td>
            <td class="alt left" colspan="3"><strong>Panel:</strong> Design Thinking in the Real World</td>
          </tr>
          <tr>
            <td class="col" >12:00 pm</td>
            <td class="col left" colspan="3"><em>Lunch</em></td>
          </tr>
          <tr>
            <td class="alt" >1:00 pm</td>
            <td class="alt left" colspan="3">Design Based Strategy</td>
          </tr>
          <tr>
            <td class="col" >2:15 pm</td>
            <td class="col left" colspan="3">Wrap Up & Final Thoughts</td>
          </tr>
          <tr>
            <td class="alt" >3:15 pm</td>
            <td class="alt left" colspan="3">Program End</td>
          </tr>
              
      </table>      
    </div>
<!-- Week 3 Schedule Ends-->
<!-- Week 4 Schedule -->
    <div class="TabbedPanelsContent">
    	<!-- Monday -->
         <table>
         
          <tr class="header" style>
            <td colspan="4"><div align="center" class="title">Monday</div></td>
          </tr>
          <tr>
            <td class="alt" >8:30 am</td>
            <td colspan="3" class="alt left"><em>Continental Breakfast</em></td>
          </tr>
          <tr>
            <td class="col" >9:00 am</td>
            <td class="col left" colspan="3"><strong>Keynote Speaker:</strong> Bernie Roth - The Question is the Answer</td>
          </tr>
         
          <tr>
            <td class="alt" >10:30 am</td>
            <td class="alt left" colspan="3">Bio-Inspired Design</td>
          </tr>
          <tr>
            <td class="col" >12:00 pm</td>
            <td class="col left" colspan="3"><em>Robotics Lab Tour and Lunch</em></td>
          </tr>
          <tr>
            <td class="alt" >1:35 pm</td>
            <td class="alt left" colspan="3"><em>Separate into 2 groups</em></td>
          </tr>
          <tr>
            <td class="col" >1:45 pm</td>
            <td class="col left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="alt" >3:45 pm</td>
            <td class="alt left" colspan="3"><em>Swap groups</em></td>
          </tr>
          <tr>
            <td class="alt" >4:00 pm</td>
            <td class="alt left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="col" >5:30 pm</td>
            <td class="col left" colspan="3"><em>Tour and Reception, CARS Facility Tour and Concept Car Demonstrations</em></td>
          </tr>
              
      </table>
      <!-- Tuesday -->
         <table>
         
          <tr class="header" style>
            <td colspan="4"><div align="center" class="title">Tuesday</div></td>
          </tr>
          <tr>
            <td class="alt" >8:30 am</td>
            <td colspan="3" class="alt left"><em>Continental Breakfast</em></td>
          </tr>
          <tr>
            <td class="col" >9:00 am</td>
            <td class="col left" colspan="3"><strong>Keynote Speaker:</strong> Bernie Roth - The Question is the Answer</td>
          </tr>
         
          <tr>
            <td class="alt" >10:30 am</td>
            <td class="alt left" colspan="3">Bio-Inspired Design</td>
          </tr>
          <tr>
            <td class="col" >12:00 pm</td>
            <td class="col left" colspan="3"><em>Robotics Lab Tour and Lunch</em></td>
          </tr>
          <tr>
            <td class="alt" >1:35 pm</td>
            <td class="alt left" colspan="3"><em>Separate into 2 groups</em></td>
          </tr>
          <tr>
            <td class="col" >1:45 pm</td>
            <td class="col left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="alt" >3:45 pm</td>
            <td class="alt left" colspan="3"><em>Swap groups</em></td>
          </tr>
          <tr>
            <td class="alt" >4:00 pm</td>
            <td class="alt left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="col" >5:30 pm</td>
            <td class="col left" colspan="3"><em>Tour and Reception, CARS Facility Tour and Concept Car Demonstrations</em></td>
          </tr>
              
      </table>
      <!-- Wednesday -->
         <table>
         
          <tr class="header" style>
            <td colspan="4"><div align="center" class="title">Wednesday</div></td>
          </tr>
          <tr>
            <td class="alt" >8:30 am</td>
            <td colspan="3" class="alt left"><em>Continental Breakfast</em></td>
          </tr>
          <tr>
            <td class="col" >9:00 am</td>
            <td class="col left" colspan="3"><strong>Keynote Speaker:</strong> Bernie Roth - The Question is the Answer</td>
          </tr>
         
          <tr>
            <td class="alt" >10:30 am</td>
            <td class="alt left" colspan="3">Bio-Inspired Design</td>
          </tr>
          <tr>
            <td class="col" >12:00 pm</td>
            <td class="col left" colspan="3"><em>Robotics Lab Tour and Lunch</em></td>
          </tr>
          <tr>
            <td class="alt" >1:35 pm</td>
            <td class="alt left" colspan="3"><em>Separate into 2 groups</em></td>
          </tr>
          <tr>
            <td class="col" >1:45 pm</td>
            <td class="col left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="alt" >3:45 pm</td>
            <td class="alt left" colspan="3"><em>Swap groups</em></td>
          </tr>
          <tr>
            <td class="alt" >4:00 pm</td>
            <td class="alt left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="col" >5:30 pm</td>
            <td class="col left" colspan="3"><em>Tour and Reception, CARS Facility Tour and Concept Car Demonstrations</em></td>
          </tr>
              
      </table>
      <!-- Thursday -->
         <table>
         
          <tr class="header" style>
            <td colspan="4"><div align="center" class="title">Thursday</div></td>
          </tr>
          <tr>
            <td class="alt" >8:30 am</td>
            <td colspan="3" class="alt left"><em>Continental Breakfast</em></td>
          </tr>
          <tr>
            <td class="col" >9:00 am</td>
            <td class="col left" colspan="3"><strong>Keynote Speaker:</strong> Bernie Roth - The Question is the Answer</td>
          </tr>
         
          <tr>
            <td class="alt" >10:30 am</td>
            <td class="alt left" colspan="3">Bio-Inspired Design</td>
          </tr>
          <tr>
            <td class="col" >12:00 pm</td>
            <td class="col left" colspan="3"><em>Robotics Lab Tour and Lunch</em></td>
          </tr>
          <tr>
            <td class="alt" >1:35 pm</td>
            <td class="alt left" colspan="3"><em>Separate into 2 groups</em></td>
          </tr>
          <tr>
            <td class="col" >1:45 pm</td>
            <td class="col left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="alt" >3:45 pm</td>
            <td class="alt left" colspan="3"><em>Swap groups</em></td>
          </tr>
          <tr>
            <td class="alt" >4:00 pm</td>
            <td class="alt left" colspan="3">Making Matter or Radical Collaboration on a Mission</td>
          </tr>
          <tr>
            <td class="col" >5:30 pm</td>
            <td class="col left" colspan="3"><em>Tour and Reception, CARS Facility Tour and Concept Car Demonstrations</em></td>
          </tr>
              
      </table>
      <!-- Friday -->
         <table>
          <tr class="header" style>
            <td colspan="4"><div align="center" class="title">Friday</div></td>
          </tr>
          <tr>
            <td class="alt" >8:30 am</td>
            <td colspan="3" class="alt left"><em>Continental Breakfast</em></td>
          </tr>
          <tr>
            <td class="col" >9:00 am</td>
            <td class="col left" colspan="3">Hunting by Design</td>
          </tr>
         
          <tr>
            <td class="alt" >10:45 am</td>
            <td class="alt left" colspan="3"><strong>Panel:</strong> Design Thinking in the Real World</td>
          </tr>
          <tr>
            <td class="col" >12:00 pm</td>
            <td class="col left" colspan="3"><em>Lunch</em></td>
          </tr>
          <tr>
            <td class="alt" >1:00 pm</td>
            <td class="alt left" colspan="3">Design Based Strategy</td>
          </tr>
          <tr>
            <td class="col" >2:15 pm</td>
            <td class="col left" colspan="3">Wrap Up & Final Thoughts</td>
          </tr>
          <tr>
            <td class="alt" >3:15 pm</td>
            <td class="alt left" colspan="3">Program End</td>
          </tr>
              
      </table>      
    </div>
<!-- Week 4 Schedule Ends-->
 
  </div>
</div><br />

   <p><a target="_blank" href="/courses/schedule.pdf"><i class="icon-pdf"></i><strong>Download Schedule</strong></a></p>

      <!-- END CONTENT -->
    </article>

  </div>
</section>


<!-- FOOTER -->
<footer class="site-footer">
  <div class="container">
    <div class="row">


 


</div>
  </div>
</footer>
<!-- Global footer snippet start -->
<div id="global-footer">
  <div class="container">
    <div class="row">
      <div id="bottom-logo" class="span2">
        <a href="http://www.msoma.org/">
          <img src="../images/footer-logo.png" alt="M-Soma Institute" width="105" height="49"/>
        </a>
      </div>
      <!-- #bottom-logo end -->
      <div id="bottom-text" class="span10">
        <ul>
          <li class="Schedule"><a href="http://www.msoma.org/about/" target="_blank">About Us</a></li>
          <li class="maps alt"><a href="http://www.msoma.org/about/" target="_blank">Our Partners</a></li>
          <li class="search-stanford"><a href="http://www.msoma.org/blog/" target="_blank">Blog</a></li>
          <li class="terms alt"><a href="http://www.msoma.org/contact/" target="_blank">Contact</a></li>
          <li class="copyright"><a href="http://www.msoma.org/mentors/" target="_blank">Become a Mentor</a></li>
        </ul>
      </div> <!-- .bottom-text end -->
      <div class="clear"></div>
      <p class="copyright vcard">&copy; <span class="fn org">2017 M-Soma Institute</span> . <span class="">All Rights Reserved</span> </span></p>
    </div> <!-- .row end --> 
  </div> <!-- .container end --> 
</div> <!-- global-footer end -->
<!-- Global footer snippet end -->

<!-- SCRIPTS -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script src="//s7.addthis.com/js/300/addthis_widget.js#async=1"></script>
<script src="../javascripts/bootcamp/bootcamp.min.js"></script>
<script src="../javascripts/bootcamp/bootcamp.videos.min.js"></script>
<script type="text/javascript">
var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
</script>
</body>
</html>
