<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="utf-8">
  <title>Bootcamp Special Guests | M-Soma Institute</title>
  <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
<link rel="canonical" href="http://msoma.org/bootcamp/speakers"/>
<meta property="og:site_name" content="M-Soma Institute"/>
<meta property="og:title" content="Bootcamp Special Guests"/>
<meta property="og:url" content="http://msoma.org/bootcamp/speakers"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="Bootcamp Special Guests"/>
<meta property="og:image" content="../images/thumbnail.jpeg"/>
<meta itemprop="name" content="Bootcamp Special Guests"/>
<meta itemprop="url" content="http://msoma.org/bootcamp/speakers"/>
<meta itemprop="description" content="Bootcamp Special Guests"/>
<meta itemprop="thumbnailUrl" content="../images/thumbnail.jpeg"/>
<link rel="image_src" href="../images/thumbnail.jpeg" />
<meta itemprop="image" content="../images/thumbnail.jpeg"/>
<meta name="twitter:title" content="Bootcamp Special Guests"/>
<meta name="twitter:image" content="../images/thumbnail.jpeg"/>
<meta name="twitter:url" content="http://msoma.org/bootcamp/speakers"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:description" content="Bootcamp Special Guests"/>
<meta name="description" content="Bootcamp Special Guests" />
<script type="text/javascript" src="//use.typekit.com/fjk2hxr.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Gentium+Basic:700,400,400i|Open+Sans:300,300i,400,600,700,700i,800,400i"/>
<link href="../stylesheets/schedule.plugins.min.css" rel="stylesheet">
<link href="../stylesheets/schedule.css" rel="stylesheet">
<link href="../stylesheets/bootcamp.css" rel="stylesheet">
<link href="../stylesheets/ie.css" rel="stylesheet">

<script src="../javascripts/modernizr.respond.min.js"></script>
<style>
.fancy li{
margin:-10px 114px;
}
</style>
</head>

<body class="instructors">
 

<!-- HEADER -->
<header class="site-header">
  <div class="container"> <h2>
  <a href="http://www.msoma.org">
    <img src="../images/brandbar-logo.png" alt="M-Soma Institute" width="153" height="22">
  </a>
</h2>
<div class="row cols-66-33">
  <div class="col">
    <h1><a href="/bootcamp/instructors" title="Bootcamp 2017">Bootcamp 2017 Special Guests</a></h1>
  </div>
  <div class="col hidden-phone">
    <p class="pull-right">
      <a href="http://www.msoma.org/" target="_blank" class="action action-request">Home</a>
      <a href="" target="_blank" class="action action-apply">Log Out</a>
    </p>
  </div>
</div>
 </div>
</header>

<!-- NAVBAR -->
<nav class="main-nav">
  <div class="container"> <div class="navbar">
  <div class="navbar-inner">

      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        Menu
      </a>

      <div class="hidden-desktop">
        <p class="pull-right">
          <a href="http://www.msoma.org/" class="action action-request">Home</a>
          <a href="" target="_blank" class="action action-apply">Log Out</a> 
        </p>
      </div>

      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <ul class="nav" id="main-nav">
          <li class="home"><a href="/bootcamp/schedule">Schedule</a></li>
          <li class="courses hidden-phone"><a href="/bootcamp/courses">Courses</a></li>
          <li class="courses dropdown hidden-desktop"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Activities<b class="caret"></b></a>
            <ul class="dropdown-menu"><li><a href="/bootcamp/mentors">Mentors Meeting</a></li><li><a href="/bootcamp/tours">Tours</a></li><li><a href="/bootcamp/speakers">Speakers</a></li></ul>          </li>
          <li class="tuition"><a href="/bootcamp/registration">Registration</a></li>
          <li class="instructors"><a href="/bootcamp/instructors">Instructors</a></li>
          <li class="videos"><a href="/bootcamp/videos">Videos</a></li>
          <li class="about"><a href="/college-apps">College Apps</a></li>
        </ul>
      </div>

  </div>
</div>
 </div>
</nav>

<!-- MAIN -->
<section class="main-content">
  <div class="container">
    <article class="content">
      <div class="row cols-66-33">
        <header class="col"> 
          
          <!-- PAGE TITLE -->
          <h1 class="page-title">Special Guests</h1>
        </header>
        <div class="col"> <div class="addthis_toolbox">
  <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
  <a class="addthis_button_tweet" tw:count="none"></a>
  <a class="addthis_button_google_plusone" g:plusone:size="medium" g:plusone:count="false"></a>
</div>
 </div>
      </div>

      <!-- Row 1 -->

        <div class="cols-50x2">

          <div class="col"> 

          	<img src="../images/instructors/michael_barry.jpg" alt="Michael Barry" width="100" height="120" class="pull-left pad-right">

            <h3>Kagure Wamunyu</h3>

            <p class="lighten smaller">General Manager, Uber Kenya. Kagure holds a Masters in City Planning from the University of California, Berkeley, and a Bachelor of Science in Industrial Engineering from Meredith College in the US</p>

          </div>

          <div class="col"> 

          	<img src="../images/instructors/bBurnett.jpg" alt="Bill Burnett" width="100" height="120" class="pull-left pad-right">

            <h3>Monicah Wambugu</h3>

            <p class="lighten smaller">Information Technology scholar at the University of California, Berkeley. BSc. Computer Science
</p>

          </div>
	 
        </div>

        <!-- Row 2 -->

    <div class="cols-50x2">

          <div class="col"> 

          	<img src="../images/instructors/mCutkosky.jpg" alt="Mark Cutkosky" width="100" height="120" class="pull-left pad-right">
            <h3>Moses Surumen</h3>

            <p class="lighten smaller">Electrical Engineering and Computer Science scholar at the University of California, Berkeley.</p>

          </div>

          <div class="col"> 

          	<img src="../images/instructors/dKelley.jpg" alt="David Kelley" width="100" height="120" class="pull-left pad-right">
            <h3>Eve Mwangi</h3>

            <p class="lighten smaller">Software Engineer at Mobile Surveys Inc. BSc. Computer Science</p>

          </div>

        </div> 

        <!-- Row 3 -->

    <div class="cols-50x2">

          <div class="col"> 

          	<img src="../images/instructors/erin-macdonald.jpg" alt="Erin MacDonald" width="100" height="120" class="pull-left pad-right">
            <h3>Victor Korir</h3>

            <p class="lighten smaller">Electrical Engineering and Computer Science scholar at the University of California, Berkeley</p>

          </div>
          
        </div> 

 
    </article>
  </div>
</section>

<!-- HIGHLIGHTS -->
<aside class="site-highlights">
  <div class="container">
    <div class="row cols-33x3">
  <div class="col">
    <div class="inner">
<p><a class="btn btn-small" href="http://scpd.stanford.edu/design/overview/tours-labs.php">Beginner Habits</a></p>
    <p>Am I prepared enough to study computer programming? <a href="http://scpd.stanford.edu/design/overview/tours-labs.php" target="_blank">Learn more</a></p>

 
    </div>
  </div>

  <div class="col">
    <div class="inner">
      <p><a href="http://scpd.stanford.edu/design/registration.php" class="btn btn-small">Is Programming Hard or Easy?</a></p>
      <p>Different people will tell you different things. But it matters a lot how you start learning.<a href="http://scpd.stanford.edu/design/registration.php">Learn more</a></p>
    </div>
  </div>

  <div class="col">
    <div class="inner" style="overflow:hidden">
      <p><a class="btn btn-small" target="_blank" href="https://www.youtube.com/watch?v=iPEsVB8G4xQ">Featured Talk</a></p>
      <p><a href="https://www.youtube.com/watch?v=iPEsVB8G4xQ" target="_blank"> Need-finding and Empathy - Why Your Customers Can''t Tell You What They
Want</a></p> 
    </div>
  </div>
</div>
  </div>
</aside> 

<!-- FOOTER -->
<footer class="site-footer">
  <div class="container"> <div class="row">


  <div class="col col-contact hidden-desktop">

  </div>

  <div class="col col-follow">

  </div>

  <div class="col col-links">

  </div>

</div>
 </div>
</footer>
<!-- Global footer snippet start -->
<div id="global-footer">
  <div class="container">
    <div class="row">
      <div id="bottom-logo" class="span2">
        <a href="http://www.msoma.org/">
          <img src="../images/footer-logo.png" alt="M-Soma Institute" width="105" height="49"/>
        </a>
      </div>
      <!-- #bottom-logo end -->
      <div id="bottom-text" class="span10">
        <ul>
          <li class="Schedule"><a href="http://www.msoma.org/about/" target="_blank">About Us</a></li>
          <li class="maps alt"><a href="http://www.msoma.org/about/" target="_blank">Our Partners</a></li>
          <li class="search-stanford"><a href="http://www.msoma.org/blog/" target="_blank">Blog</a></li>
          <li class="terms alt"><a href="http://www.msoma.org/contact/" target="_blank">Contact</a></li>
          <li class="copyright"><a href="http://www.msoma.org/mentors/" target="_blank">Become a Mentor</a></li>
        </ul>
      </div> <!-- .bottom-text end -->
      <div class="clear"></div>
      <p class="copyright vcard">&copy; <span class="fn org">2017 M-Soma Institute</span> . <span class="">All Rights Reserved</span> </span></p>
    </div> <!-- .row end --> 
  </div> <!-- .container end --> 
</div> <!-- global-footer end -->
<!-- Global footer snippet end -->

<!-- SCRIPTS -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script src="//s7.addthis.com/js/300/addthis_widget.js#async=1"></script>
<script src="../javascripts/bootcamp/bootcamp.min.js"></script>
<script src="../javascripts/bootcamp/bootcamp.videos.min.js"></script>
</body>
</html>
