<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="utf-8">
  <title>Tours | M-Soma Institute</title>
 <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
<link rel="canonical" href="http://msoma.org/bootcamp/tours"/>
<meta property="og:site_name" content="M-Soma Institute"/>
<meta property="og:title" content="Bootcamp Tours"/>
<meta property="og:url" content="http://msoma.org/bootcamp/tours"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="Bootcamp Tours"/>
<meta property="og:image" content="../images/thumbnail.jpeg"/>
<meta itemprop="name" content="Bootcamp Tours"/>
<meta itemprop="url" content="http://msoma.org/bootcamp/tours"/>
<meta itemprop="description" content="Bootcamp Tours"/>
<meta itemprop="thumbnailUrl" content="../images/thumbnail.jpeg"/>
<link rel="image_src" href="../images/thumbnail.jpeg" />
<meta itemprop="image" content="../images/thumbnail.jpeg"/>
<meta name="twitter:title" content="Bootcamp Tours"/>
<meta name="twitter:image" content="../images/thumbnail.jpeg"/>
<meta name="twitter:url" content="https://msoma.org/bootcamp/videos"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:description" content="Bootcamp Tours"/>
<meta name="description" content="Bootcamp Tours" />
<script type="text/javascript" src="//use.typekit.com/fjk2hxr.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Gentium+Basic:700,400,400i|Open+Sans:300,300i,400,600,700,700i,800,400i"/>
<link href="../stylesheets/schedule.plugins.min.css" rel="stylesheet">
<link href="../stylesheets/schedule.css" rel="stylesheet">
<link href="../stylesheets/bootcamp.css" rel="stylesheet">
<link href="../stylesheets/ie.css" rel="stylesheet">

<script src="../javascripts/modernizr.respond.min.js"></script>
  <!-- no metatags yet... -->
<style>
.quote{
      font-size: 1.3em;
      line-height: 1.1em;
}
</style>
</head>

<body class="courses">

<!-- ClickTale Top part -->
<!-- ClickTale end of Top part -->

<!-- HEADER -->
<header class="site-header">
  <div class="container">
    <h2>
  <a href="http://www.msoma.org/">
    <img src="../images/brandbar-logo.png" alt="M-Soma Institute" width="153" height="22">
  </a>
</h2>
<div class="row cols-66-33">
  <div class="col">
    <h1><a href="/bootcamp/tours" title="Bootcamp Tours">Bootcamp Tours</a></h1>
  </div>
  <div class="col hidden-phone">
    <p class="pull-right">
      <a href="http://www.msoma.org/" target="_blank" class="action action-request">Home</a>
      <a href="" target="_blank" class="action action-apply">Log Out</a>
    </p>
  </div>
</div>
  </div>
</header>

<!-- NAVBAR -->
<nav class="main-nav">
  <div class="container">
    <div class="navbar">
  <div class="navbar-inner">

      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        Menu
      </a>

      <div class="hidden-desktop">
        <p class="pull-right">
          <a href="http://www.msoma.org/" class="action action-request">Home</a>
          <a href="" target="_blank" class="action action-apply">Log Out</a> 
        </p>
      </div>

      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <ul class="nav" id="main-nav">
          <li class="Schedule"><a href="/bootcamp/schedule">Schedule</a></li>
          <li class="courses hidden-phone"><a href="/bootcamp/courses">Courses</a></li>
          <li class="courses dropdown hidden-desktop"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Activities<b class="caret"></b></a>
            <ul class="dropdown-menu"><li><a href="/bootcamp/mentors">Mentors Meeting</a></li><li><a href="/bootcamp/tours">Tours</a></li><li><a href="/bootcamp/speaker">Speakers</a></li></ul>          </li>
          <li class="tuition"><a href="/bootcamp/registration">Registration</a></li>
          <li class="Instructors"><a href="/bootcamp/instructors">Instructors</a></li>
          <li class="videos"><a href="/bootcamp/videos">Videos</a></li>
          <li class="about"><a href="/college-apps">College Apps</a></li>
        </ul>
      </div>

  </div>
</div>
  </div>
</nav>

<!-- MAIN -->
<section class="main-content">
  <div class="container container-split">

    <aside class="secondary-nav main-content-left hidden-phone">
      <H3>Other Activities</H3>
<ul class=""><li><a href="/bootcamp/mentors">Mentors Meeting</a></li><li><a href="/bootcamp/schedule">Schedule</a></li><li><a href="/bootcamp/speakers">Speakers</a></li></ul>
    </aside>

    <article class="content main-content-right">

      <div class="row cols-66-33">
        <header class="col">

          <!-- SECTION TITLE (mobile only) -->
          <H3 class="section-title hidden-desktop">Overview</H3>

          <!-- PAGE TITLE -->
          <h1 class="page-title">Tours</h1>

        </header>
        <div class="col">
          <div class="addthis_toolbox">
  <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
  <a class="addthis_button_tweet" tw:count="none"></a>
  <a class="addthis_button_google_plusone" g:plusone:size="medium" g:plusone:count="false"></a>
</div>
        </div>
      </div>

      <!-- CONTENT -->

      <div>
       <p>The tour schedule is subject to lab safety requirements and availability.</p>

       <h3 class="alt">IBM Africa Lab (Catholic University)</h3>
       <p>Join us at the CARS facility and see the prototype cars that are setting records, winning DARPA challenges, and creating the future of the automobile. Live demonstrations of the P1 and X1 prototypes (subject to safety requirements and vehicle availability) and a chance to mingle with the Instructors from this ground breaking research center.</p>

       <h3 class="alt">iHub Nairobi</h2>
       <p>Join us for a tour of the main corporate offices of IDEO, the premier design strategy and innovation firm in the world. We will go behind the scenes and visit the projects team rooms, workshops, and brainstorming labs to get a feel for how innovation happens at IDEO.</p>

       <h3 class="alt">Safaricom Center</h3>
            <!-- <img style="margin-bottom:10px;" src="../images/overview/sticky_bot.jpg" alt="Sticky Bot" width="178" height="258" class="pull-left pad-right" /> -->
            <p>Come see the lab where we create smart products with microprocessors, motors, sensors and actuators, and research how mechatronics will impact the products of the future. You will have an opportunity to see demonstrations of robots that play games and battlebots that fight to the death and to meet the Instructors of this important lab.</p>


       <h3 class="alt">Strathmore Lab</h3>
       <div class="cols-50x2">
          <div class="col-column"> 
            <img style="margin-bottom:10px;" src="../images/overview/volkswagen-lab.png" alt="Volkswagen Automotive Innovation Lab" width="255" height="155" class="pull-left pad-right" /> 
            <p>The VAIL is a state of the art vehicle research facility where interdisciplinary teams can work on projects that move vehicle technology forward.The facility opened in 2010 yet has already played a role in significant transportation research, housing multiple high-profile Stanford and industry projects on automated driving, driver assistance systems, sustainability and more.</p>
          </div>
   </div>

        <h3 class="alt">Nailab</h3>
        <p>The PRL and Loft surround the Design courtyard and, with the addition of the Peterson Building, form the center of design related activities at Stanford. The PRL contains everything needed to design, prototype and create innovative design concepts, including all the traditional fabrication machinery in addition to state-of-the-art computer-aided drawing, manufacturing, and prototyping systems.</p>
      </div>

    <!-- END CONTENT -->
    </article>

  </div>
</section>

<!-- HIGHLIGHTS -->
<aside class="site-highlights">
  <div class="container">
    <div class="row cols-33x3">
  <div class="col">
    <div class="inner">
<p><a class="btn btn-small" href="http://scpd.stanford.edu/design/overview/tours-labs.php">Beginner Habits</a></p>
    <p>Am I prepared enough to study computer programming? <a href="http://scpd.stanford.edu/design/overview/tours-labs.php" target="_blank">Learn more</a></p>

 
    </div>
  </div>

  <div class="col">
    <div class="inner">
      <p><a href="http://scpd.stanford.edu/design/registration.php" class="btn btn-small">Is Programming Hard or Easy?</a></p>
      <p>Different people will tell you different things. But it matters a lot how you start learning.<a href="http://scpd.stanford.edu/design/registration.php">Learn more</a></p>
    </div>
  </div>

  <div class="col">
    <div class="inner" style="overflow:hidden">
      <p><a class="btn btn-small" target="_blank" href="https://www.youtube.com/watch?v=iPEsVB8G4xQ">Featured Talk</a></p>
      <p><a href="https://www.youtube.com/watch?v=iPEsVB8G4xQ" target="_blank"> Need-finding and Empathy - Why Your Customers Can''t Tell You What They
Want</a></p> 
    </div>
  </div>
</div>
  </div>
</aside> 

<!-- FOOTER -->
<footer class="site-footer">
  <div class="container"> <div class="row">


  <div class="col col-contact hidden-desktop">

  </div>

  <div class="col col-follow">

  </div>

  <div class="col col-links">

  </div>

</div>
 </div>
</footer>
<!-- Global footer snippet start -->
<div id="global-footer">
  <div class="container">
    <div class="row">
      <div id="bottom-logo" class="span2">
        <a href="http://www.msoma.org/">
          <img src="../images/footer-logo.png" alt="M-Soma Institute" width="105" height="49"/>
        </a>
      </div>
      <!-- #bottom-logo end -->
      <div id="bottom-text" class="span10">
        <ul>
          <li class="Schedule"><a href="http://www.msoma.org/about/" target="_blank">About Us</a></li>
          <li class="maps alt"><a href="http://www.msoma.org/about/" target="_blank">Our Partners</a></li>
          <li class="search-stanford"><a href="http://www.msoma.org/blog/" target="_blank">Blog</a></li>
          <li class="terms alt"><a href="http://www.msoma.org/contact/" target="_blank">Contact</a></li>
          <li class="copyright"><a href="http://www.msoma.org/mentors/" target="_blank">Become a Mentor</a></li>
        </ul>
      </div> <!-- .bottom-text end -->
      <div class="clear"></div>
      <p class="copyright vcard">&copy; <span class="fn org">2017 M-Soma Institute</span> . <span class="">All Rights Reserved</span> </span></p>
    </div> <!-- .row end --> 
  </div> <!-- .container end --> 
</div> <!-- global-footer end -->
<!-- Global footer snippet end -->

<!-- SCRIPTS -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script src="//s7.addthis.com/js/300/addthis_widget.js#async=1"></script>
<script src="../javascripts/bootcamp/bootcamp.min.js"></script>
<script src="../javascripts/bootcamp/bootcamp.videos.min.js"></script>
</body>
</html>
