<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="utf-8">
  <title>Videos | Bootcamp - M-Soma Institute</title>
 <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
<link rel="canonical" href="http://msoma.org/bootcamp/videos"/>
<meta property="og:site_name" content="M-Soma Institute"/>
<meta property="og:title" content="Course Videos"/>
<meta property="og:url" content="http://msoma.org/bootcamp/videos"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="Course Videos"/>
<meta property="og:image" content="../images/thumbnail.jpeg"/>
<meta itemprop="name" content="Course Videos"/>
<meta itemprop="url" content="http://msoma.org/bootcamp/videos"/>
<meta itemprop="description" content="Course Videos"/>
<meta itemprop="thumbnailUrl" content="../images/thumbnail.jpeg"/>
<link rel="image_src" href="../images/thumbnail.jpeg" />
<meta itemprop="image" content="../images/thumbnail.jpeg"/>
<meta name="twitter:title" content="Course Videos"/>
<meta name="twitter:image" content="../images/thumbnail.jpeg"/>
<meta name="twitter:url" content="https://msoma.org/bootcamp/videos"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:description" content="Course Videos"/>
<meta name="description" content="Course Videos" />
<script type="text/javascript" src="//use.typekit.com/fjk2hxr.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Gentium+Basic:700,400,400i|Open+Sans:300,300i,400,600,700,700i,800,400i"/>
<link href="../stylesheets/schedule.plugins.min.css" rel="stylesheet">
<link href="../stylesheets/schedule.css" rel="stylesheet">
<link href="../stylesheets/bootcamp.css" rel="stylesheet">
<link href="../stylesheets/ie.css" rel="stylesheet">

<script src="../javascripts/modernizr.respond.min.js"></script>
</head>

<body class="videos">


<!-- HEADER -->
<header class="site-header">
  <div class="container">
    <h2>
  <a href="http://www.msoma.org">
    <img src="../images/brandbar-logo.png" alt="M-Soma Institute" width="153" height="22">
  </a>
</h2>
<div class="row cols-66-33">
  <div class="col">
    <h1><a href="http://www.msoma.org/bootcamp/videos" title="Course Videos">Course Videos</a></h1>
  </div>
  <div class="col hidden-phone">
    <p class="pull-right">
      <a href="http://www.msoma.org/" target="_blank" class="action action-request">Home</a>
      <a href="" target="_blank" class="action action-apply">Log Out</a>
    </p>
  </div>
</div>
  </div>
</header>

<!-- NAVBAR -->
<nav class="main-nav">
  <div class="container">
    <div class="navbar">
  <div class="navbar-inner">

      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        Menu
      </a>

      <div class="hidden-desktop">
        <p class="pull-right">
          <a href="http://www.msoma.org/" class="action action-request">Home</a>
          <a href="" target="_blank" class="action action-apply">Log Out</a> 
        </p>
      </div>

      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <ul class="nav" id="main-nav">
          <li class="Schedule"><a href="/bootcamp/schedule">Schedule</a></li>
          <li class="courses hidden-phone"><a href="/bootcamp/courses">Courses</a></li>
          <li class="courses dropdown hidden-desktop"><a href="index.php.html#" class="dropdown-toggle" data-toggle="dropdown">Other Activities<b class="caret"></b></a>
            <ul class="dropdown-menu"><li><a href="/bootcamp/mentors">Mentors Meeting</a></li><li><a href="/bootcamp/tours">Tours</a></li><li><a href="/bootcamp/speakers">Speakers</a></li></ul>          </li>
          <li class="tuition"><a href="/bootcamp/registration">Registration</a></li>
          <li class="Instructors"><a href="/bootcamp/instructors">Instructors</a></li>
          <li class="videos"><a href="/bootcamp/videos">Videos</a></li>
          <li class="about"><a href="/college-apps">College Apps</a></li>
        </ul>
      </div>

  </div>
</div>
  </div>
</nav>

<!-- MAIN -->
<section class="main-content">
  <div class="container">

    <article class="content">

      <div class="row cols-66-33">
        <header class="col">

          <!-- PAGE TITLE -->
          <h1 class="page-title">Webinar Archives</h1>

        </header>
        <div class="col">
          <div class="addthis_toolbox">
  <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
  <a class="addthis_button_tweet" tw:count="none"></a>
  <a class="addthis_button_google_plusone" g:plusone:size="medium" g:plusone:count="false"></a>
</div>
        </div>
      </div>

      <p class="hidden-desktop">
        <a href="index.php.html#lectures-webinars">Jump to Lectures &amp; Webinars</a><br>
        <a href="index.php.html#on-demand">Jump to On-Demand Videos</a>
      </p>

      <h2 class="hidden-desktop">Watch Videos</h2>

      <div class="video-carousel">
        <ul class="unstyled">
          <!-- videos listed in reverse chronological order -->

           <li class="video">
            <a class="modal fancybox.iframe" href="http://www.youtube.com/embed/MUTrIvR6WRA?autoplay=1" data-fancybox-width="560" data-fancybox-height="315" title="How to Cultivate Creativity Using Design Thinking">
              <div>
                <img src="../images/videos/cultivate-creativity.jpg" alt="How to Cultivate Creativity Using Design Thinking">
                <!-- <span>Play</span> -->
              </div>
              <p>How to Cultivate Creativity Using Design Thinking</p>
            </a>
          </li>

          <li class="video">
            <a class="modal fancybox.iframe" href="http://www.youtube.com/embed/QkWM2--3TQo?autoplay=1" data-fancybox-width="560" data-fancybox-height="315" title="Design Thinking and the Art of Critique: I Like/I Wish">
              <div>
                <img src="../images/videos/art-of-critique.jpg" alt="Design Thinking and the Art of Critique: I Like/I Wish">
               <!-- <span>Play</span> -->
              </div>
              <p>Design Thinking and the Art of Critique: I Like/I Wish</p>
            </a>
          </li>

       <li class="video">
            <a class="modal fancybox.iframe" href="http://www.youtube.com/embed/ohzWvyw4h8k?autoplay=1" data-fancybox-width="560" data-fancybox-height="315" title="How Radical Collaboration Redefined the Automobile">
              <div>
                <img src="../images/videos/radical-collaboration.jpg" alt="How Radical Collaboration Redefined the Automobile">
                 <!-- <span>Play</span> -->
              </div>
              <p>How Radical Collaboration Redefined the Automobile</p>
            </a>
          </li>

          <li class="video">
            <a class="modal fancybox.iframe" href="http://www.youtube.com/embed/-OTtkI5f0u8?autoplay=1" data-fancybox-width="560" data-fancybox-height="315" title="Design Thinking and Peak Performance">
              <div>
                <img src="../images/videos/design-thinking-peak-performance.jpg" alt="Design Thinking and Peak Performance">
               <!-- <span>Play</span> -->
              </div>
              <p>Design Thinking and Peak Performance</p>
            </a>
          </li>

          <li class="video">
            <a class="modal fancybox.iframe" href="http://www.youtube.com/embed/cWBctTjuZkI?autoplay=1" data-fancybox-width="560" data-fancybox-height="315" title="Frameworks for Design Thinking">
              <div>
                <img src="../images/videos/frameworks-design-thinking.jpg" alt="Frameworks for Design Thinking">
               <!-- <span>Play</span> -->
              </div>
              <p>Frameworks for Design Thinking</p>
            </a>
          </li>

          <li class="video">
            <a class="modal fancybox.iframe" href="http://www.youtube.com/embed/1yL1Gw8oXS4?autoplay=1" data-fancybox-width="560" data-fancybox-height="315" title="The Achievement Habit: A Design Thinking Guide for Doers ">
              <div>
                <img src="../images/videos/design-thinking-guide.jpg" alt="The Achievement Habit: A Design Thinking Guide for Doers ">
               <!-- <span>Play</span> -->
              </div>
              <p>The Achievement Habit: A Design Thinking Guide for Doers</p>
            </a>
          </li>

        </ul>
      </div>

      <p class="align-right">
        <a href="http://www.youtube.com/user/stanfordonline" target="_blank"><i class="icon-fancy"></i><strong>More videos on StanfordOnline YouTube Channel</strong></a>
      </p>


      <div class="row cols-33-66" id="lectures-webinars">
        <div class="col">
          <img src="../images/videos/sBarley.jpg" alt="Professor Stephen Barley">
        </div>
        <div class="col">
          <h2>Live Lectures &amp; Webinars</h2>
          <p>Register for live virtual meetings with Stanford Instructors, industry experts and senior researchers as they go beyond the course curriculum to address emerging topics in academia and industry.</p>
          <ul class="fancy">
            <li><a href="http://scpd.stanford.edu/search/publicCourseAdvancedSearch.do?method=doPaginatedSearch&showInternal=false&cspIndex=true&isPageDisplayed=true&courseSearch.courseDescriptionKeyword=&courseSearch.courseCategoryStringArray=3586426&courseSearch.deliveryMethodString=&courseSearch.campusStringArray=0&courseSearch.sectionInstructorName=&courseSearch.sectionDayOfWeekStringArray=0&courseSearch.sectionStartTimeStringArray=0&courseSearch.sectionStartMonthStringArray=0&courseSearch.sectionAccreditingAssociationStringArray=0&courseSearch.filterString=availforreg&buttonSearch=Search" target="_blank"><strong>Browse upcoming events</strong></a></li>
          </ul>
        </div>
      </div>

      <div class="row cols-33-66" id="on-demand">
        <div class="col">
          <img src="../images/videos/videos-demand.jpg" alt="Strategic Execution Framework diagram">
        </div>
        <div class="col">
          <h2>On-demand Videos</h2>
          <p>Our free webinars and lectures are recorded and available on our StanfordOnline YouTube channel. We also provide free access to select Stanford seminar series each academic quarter. Seminars are available the day after each lecture occurs on campus.</p>
          <ul class="fancy">
            <li><a href="https://www.youtube.com/user/stanfordonline" target="_blank"><strong>Watch videos on YouTube</strong></a></li>
            <li><a href="http://myvideos.stanford.edu/oce/seminars.aspx" target="_blank"><strong>Browse free seminars</strong></a></li>
          </ul>
        </div>
      </div>

    </article>

  </div>
</section>

<!-- HIGHLIGHTS -->
<aside class="site-highlights">
  <div class="container">
    <div class="row cols-33x3">
  <div class="col">
    <div class="inner">
<p><a class="btn btn-small" href="http://scpd.stanford.edu/design/overview/tours-labs.php">Beginner Habits</a></p>
    <p>Am I prepared enough to study computer programming? <a href="http://scpd.stanford.edu/design/overview/tours-labs.php" target="_blank">Learn more</a></p>

 
    </div>
  </div>

  <div class="col">
    <div class="inner">
      <p><a href="http://scpd.stanford.edu/design/registration.php" class="btn btn-small">Is Programming Hard or Easy?</a></p>
      <p>Different people will tell you different things. But it matters a lot how you start learning.<a href="http://scpd.stanford.edu/design/registration.php">Learn more</a></p>
    </div>
  </div>

  <div class="col">
    <div class="inner" style="overflow:hidden">
      <p><a class="btn btn-small" target="_blank" href="https://www.youtube.com/watch?v=iPEsVB8G4xQ">Featured Talk</a></p>
      <p><a href="https://www.youtube.com/watch?v=iPEsVB8G4xQ" target="_blank"> Need-finding and Empathy - Why Your Customers Can''t Tell You What They
Want</a></p> 
    </div>
  </div>
</div>
  </div>
</aside> 

<!-- FOOTER -->
<footer class="site-footer">
  <div class="container"> <div class="row">


  <div class="col col-contact hidden-desktop">

  </div>

  <div class="col col-follow">

  </div>

  <div class="col col-links">

  </div>

</div>
 </div>
</footer>
<!-- Global footer snippet start -->
<div id="global-footer">
  <div class="container">
    <div class="row">
      <div id="bottom-logo" class="span2">
        <a href="http://www.msoma.org/">
          <img src="../images/footer-logo.png" alt="M-Soma Institute" width="105" height="49"/>
        </a>
      </div>
      <!-- #bottom-logo end -->
      <div id="bottom-text" class="span10">
        <ul>
          <li class="Schedule"><a href="http://www.msoma.org/about/" target="_blank">About Us</a></li>
          <li class="maps alt"><a href="http://www.msoma.org/about/" target="_blank">Our Partners</a></li>
          <li class="search-stanford"><a href="http://www.msoma.org/blog/" target="_blank">Blog</a></li>
          <li class="terms alt"><a href="http://www.msoma.org/contact/" target="_blank">Contact</a></li>
          <li class="copyright"><a href="http://www.msoma.org/mentors/" target="_blank">Become a Mentor</a></li>
        </ul>
      </div> <!-- .bottom-text end -->
      <div class="clear"></div>
      <p class="copyright vcard">&copy; <span class="fn org">2017 M-Soma Institute</span> . <span class="">All Rights Reserved</span> </span></p>
    </div> <!-- .row end --> 
  </div> <!-- .container end --> 
</div> <!-- global-footer end -->
<!-- Global footer snippet end -->

<!-- SCRIPTS -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script src="//s7.addthis.com/js/300/addthis_widget.js#async=1"></script>
<script src="../javascripts/bootcamp/bootcamp.min.js"></script>
<script src="../javascripts/bootcamp/bootcamp.videos.min.js"></script>
</body>
</html>
